.header-nav-container-contact {
    @include respond-below(md) {
        display: none !important;
    }

    .logo-header {
        img {
            width: 100px;
        }
    }
}

.nav-mobile {
    .logo-header {
        img {
            width: 100px;
        }
    }
}

.contact-page {
    min-height: 100vh;
    background: linear-gradient(to right, rgb(120,230,214) 0%,rgb(41,202,204) 100%);

    .modal-body {
        padding: 30px 50px 100px;
        max-height: 530px;
        max-width: 500px;
 
          //Mobile
        @include respond-below(sm) {
            max-height: 100%;
            max-width: 100%;
            padding: 30px;
        }

        textarea {
            max-height: 175px;
        }
        
    }

    .modal-header{
        //Mobile
        @include respond-below(sm){
            margin-top: 65px;
        }

        .contact-page__mobile-hero {
            background: linear-gradient(to right, rgb(120,230,214) 0%,rgb(41,202,204) 100%);
            width: 100%;
            height: 67px;

            .contact-page__title {
                font-size: 14px;
            }
        }
    }

    .contact-page__container {
        min-height: 100vh;
        padding-top: 80px;
    }

    .contact-page__wrapper-left {
        height: 530px;
        width: 45%;
        //Tablet
        @include respond-below(md) {
            width: 100%;
            order: 1;
        }
          //Mobile
        @include respond-below(sm) {
            width: 100%;
            order: 2;
            margin-bottom: 100px;
        }
    }

    .contact-page__wrapper-right {
        width: 55%;
        //Tablet
        @include respond-below(md) {
            width: 100%;
            order: 2;
            margin-bottom: 50px;
        }
          //Mobile
         @include respond-below(sm) {
             width: 100%;
             order: 1;
         }
          //Mobile
        @include respond-below(xs) {
            display: none !important;
        }
    }   

    .contact-page__title {
        font-size: 52px;
        font-weight: $font-black;
        color: $white;
          //Tablet
        @include respond-below(md) {
            font-size: 45px;
            margin-top: 100px;
        }
        //Mobile
        @include respond-below(xs) {
            margin-top: 0;
        }
    }

    .contact-page__box-title {
        font-size: 24px;
        margin-bottom: 1rem;
        font-weight: $semi-bold;
        color: $primary-color;
    }

    .contact-page__box-copy {
        font-size: 15px !important;
        margin-bottom: 40px;
        line-height: 20px;

    }

    .contact-page__input-container {
        padding: 0 30px;
        //Tablet
        @include respond-below(md) {
            padding: 0;
        }
          //Mobile
        @include respond-below(sm) {
            padding: 0 30px;
        }
        //Mobile
        @include respond-below(xs) {
            padding: 0;
        }

        .input {
            padding-left: 10px;
            padding-bottom: 10px;
            font-size: 14px;

            &::placeholder {
                color: #c2c2c2;
                //Mobile
                @include respond-below(sm) {
                    font-size: 14px;
                    
                }
            }
        }

        textarea {
            font-size: 14px;
            resize: none;
        }
    }

     .modal-footer {
        padding: 30px 50px;
        
        }
    

}