
    .landing-header {
        @include respond-below(md) {
            display: none !important;
        }

        .logo-header-img {
            width: 100px;
        }

    }

    .landing-nav-mobile {
        .nav-mobile-header-img {
            width: 100px;
        }
    }

    .landing-main {
        .landing-hero {
            width: 100%;
            min-height: 100vh;
            padding: 40px 10px;

            //Mobile
            @include respond-below(sm) {
                padding: 100px 10px;
                min-height: 90vh;
            }

            .hero {
                &__text-box {
                    margin-bottom: 66px;

                    //Mobile
                    @include respond-below(sm) {
                        margin-bottom: 30px;
                        padding: 5px;
                    }
                }

                &__title {
                    font-size: 40px;
                    font-weight: $bold;
                    margin-bottom: 20px;

                    //Mobile
                    @include respond-below(sm) {
                        font-size: 26px;
                    }

                }

                &__subtitle {
                    font-size: 16px;
                    max-width: 800px;
                    color: $text;
                    font-weight: $regular;
                }

                &__image-box {
                    max-width: 1000px;

                    //Mobile
                    @include respond-below(sm) {
                        max-width: 370px;
                    }

                }

                &__user-image-box {
                    margin-right: 100px;
                    margin-bottom: 20px;

                    //Tablet
                    @include respond-below(md) {
                        margin-right: 40px;
                    }

                    //Tablet
                    @include respond-above(md) {
                        &:nth-child(5n) {
                            margin-right: 0;
                        }
                    }

                    //Mobile
                    @include respond-below(sm) {
                        margin-right: 45px;
                        width: 60px;

                        &:nth-child(2n) {
                            margin-right: 0;
                        }

                        &:last-child {
                        display: none;
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

                &__user-image-box {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                }

            }

        }

        .explore {
            min-height: 70vh;
            background-color: $primary-color;
            padding: 20px;

            //Below 1051px
            @include respond-below(breakpoint2) {
                min-height: 50vh;
            }

            //Mobile
            @include respond-below(sm) {
                padding: 40px 10px;
                min-height: 80vh;
            }

            &__wrapper-left {
                width: 50%;
                padding-right:30px;

                //Mobile
                @include respond-below(sm) {
                    width: 100%;
                    padding: 0;
                }
            }

            &__wrapper-right {
                width: 50%;

                //Mobile
                @include respond-below(sm) {
                    width: 100%;
                }
            }

            &__title {
                color: $white;
                font-weight: $semi-bold;
                font-size: 35px;
                margin-bottom: 20px;

                //Mobile
                @include respond-below(sm) {
                    font-size: 26px;
                }
            }

            &__copy {
                color: $white;
                font-weight: $regular;

                //Mobile
                @include respond-below(sm) {
                    margin-bottom: 50px;
                }
            }

            &__img {
                width: 80%;
                height: 315px;
                object-fit: contain;

                //Tablet
                @include respond-below(md) {
                    width: 90%;
                }

                //Mobile
                @include respond-below(sm) {
                    width: 100%;
                }
            }

        }

        .reco-section {
            min-height: 90vh;
            padding: 20px;

            //Tablet
            @include respond-below(md) {
                min-height: 50vh;
            }

            //Mobile
            @include respond-below(sm) {
                padding: 40px 10px;
                min-height: 80vh;
            }

            &__wrapper-left {
                width: 60%;

                //MOBILE
                @include respond-below(sm) {
                    width: 100%;
                    justify-content: center;
                    order: 2;
                }

                .city-card-2 {
                    width: 266px !important;

                    @include respond-below(md) {
                        width: 100% !important;
                    }

                    //MOBILE
                    @include respond-below(sm) {
                        width: 295px !important;
                    }
                }
            }

            &__wrapper-right {
                width: 40%;

                //Mobile 
                @include respond-below(md) {
                    width: 50%;
                }

                //Mobile 
                @include respond-below(sm) {
                    width: 100%;
                    order: 1;
                }
            }

            &__text-box {
                width: 350px;

                //Tablet
                @include respond-below(md) {
                    width: 100%;
                }
            }

            &__title {
                font-weight: $semi-bold;
                font-size: 36px;
                margin-bottom: 20px;

                //Tablet
                @include respond-below(md) {
                    font-size: 26px;
                }
            }

            &__copy {
                font-weight: $regular;

                //Tablet
                @include respond-below(md) {
                    margin-bottom: 50px;
                }
            }


        }

        .reco-length {
            min-height: 422px;
            padding: 20px;
            background: $grey;

            //Below 1051px
            @include respond-below(breakpoint2) {
                min-height: 40vh;
            }

            //Tablet
            @include respond-below(md) {
                padding: 40px 10px;
                min-height: 30vh;
            }
            //Mobile
            @include respond-below(sm) {
                padding: 40px 10px;
                min-height: 80vh;
            }

            &__container {
                //Tablet
                @include respond-below(md) {
                    justify-content: center;
                }
            }

            &__wrapper-left {
                width: 50%;           
                //Tablet
                @include respond-below(md) {
                    width: 100%;
                }
            }

            &__wrapper-right {
                width: 50%;
                //Tablet
                @include respond-below(md) {
                    width: 100%;
                }
            }

            &__title {
                font-weight: $semi-bold;
                font-size: 36px;
                margin-bottom: 20px;
                color: $primary-color;

                //Tablet
                @include respond-below(md) {
                    font-size: 26px;
                }
            }

            &__copy {
                font-weight: $regular;

                //Tablet
                @include respond-below(md) {
                    margin-bottom: 50px;
                }
            }

            &__box {
                background: $white;
                padding: 25px 35px;
                border-radius: 10px;
                box-shadow: 5px 10px 12px rgba($black, 0.12);
            }

            &__text-box {
                max-width: 400px;
                //Tablet
                @include respond-below (md) {
                    padding-right: 20px;
                }
            }

            &__box-title {
                font-size: 16px;
                margin-bottom: 0;
                font-weight: $bold;
            }

            &__box-date {
                margin-bottom: 5px;
                font-size: 12px;
            }

            &__box-copy {
                font-size: 12px;
                margin-bottom: 8px;
                color: $black;
            }

            &__box-img {
                width: 35px;
            }

        }

        .segmentation {
            min-height: 70vh;
            padding: 20px;
            //Below 1051px
            @include respond-below(breakpoint2) {
                min-height: 50vh;
            }

            //Mobile
            @include respond-below(sm) {
                padding: 40px 10px;
                min-height: 90vh;
            }

            &__title {
                font-weight: $semi-bold;
                margin-bottom: 15px;

                //Tablet
                @include respond-below(md) {
                    font-size: 26px;
                }
            }

            &__copy {
                max-width: 800px;
                margin-bottom: 50px;
                font-weight: $regular;
            }

            .myprofile-card-interests {
                &__box {
                    width: 171px;
                    display: flex;
                    justify-content: flex-start;

                    //Tablet
                    @include respond-below(md) {
                        width: 65px;
                        justify-content: center;
                    }


                }

                li {
                    background: none;
                    border-radius: 0;
                    margin: 0;
                    padding: 15px 7px;
                }

                img {
                    width: 23px;
                    //Tablet
                    @include respond-below(md) {
                        width: 30px;
                    }
                }

                &__text {
                    margin-left: 5px;
                    color: $text;
                    //Tablet
                    @include respond-below(md) {
                        display: none;
                    }
                }
            }
        }

    }

    .landing-logo {
        min-height: 250px;
        background-color: $primary-color;

        //Tablet
        @include respond-below(md) {
            display: block;
            min-height: 30vh;
            display: flex;
            align-items: center;
            text-align: center;
        }

        &__logo {
            width: 200px;
            margin-bottom: 20px;

            //Tablet
            @include respond-below(md) {
                width: 125px;
                margin-bottom: 15px;
            }
        }

        &__subtitle {
            color: $white;
            font-weight: $bolder;

            //Tablet
            @include respond-below(md) {
                font-size: 14px;
            }
        }

        &__copyright {
            padding: 10px 0;

            //Mobile
            @include respond-below(sm) {
                display: none !important;
            }
        }

        &__copyright-group {
            margin-right: 15px;
            border-right: 1px solid $grey;
            padding-right: 15px;
        }

        &__copyright-lang {
            color: $text;

            &:hover {
                color: $primary-color;
            }

            &.active {
                color: $primary-color;
            }
        }
    }

    .hide-tablet {

        //Tablet
        @media screen and (max-width:991px) {
            display: none;
        }
    }
