// HEADER
.header-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    background: #fff;
    .logo-header {
        img {
            width: 100px;
            height: 42px;
            display: block;
        }
    }   

    .header-nav {
        margin: 0 -15px 0 ;
        display: inline-flex;
        align-items: center;

        ul {
            &:not(.user-top ul) {
                display: flex;
                align-items: center;
            }

            li {
                margin: 0 15px;
                display: inline-flex;

                a {
                    &:not(.btn) {
                        font-weight: 600;
                        color: $black;
                        font-size: 15px;
    
                        &:hover {
                            opacity: .75;
                        }
                    }
                }
            }
        }
    }

    /*Header scroll */
    &.header-scroll {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);

        .logo-header {
            img {
                height: 35px;
            }
        }

        .header-nav {
            ul {
                li {
                    &.btn-recomendar, &.btn-inicio-sesion {
                        a {
                            padding: 5px 20px 7px;
                        }
                    }
                }
            }
        }

    }
    
}

// MAIN
.header-home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0 40px;
    margin-bottom: 30px;
    text-align: center;
    background-color: $primary-color;

    h1 {
        color: $white;
        font-weight: 800;
        font-size: 38px;
    }

    p {
        color: $white;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 30px;
    }
}

// RECO MODAL

.reco-modal {
    width: 656px;
    height: 450px;
    background:$white;
    border-radius: 20px;
    padding: 20px 20px 15px 30px;
    box-shadow:0 0 4px 0 rgba($black, .1);
      @include respond-below(md) {
          width: 100vw;
          height: 100vh;
          border-radius: 0;
          position: relative;
         
      }

    //Title and subtitle
    &__text-group {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 0rem !important;
        @include respond-below(md) {
           font-size: 26px;
        }
    }

    &__subtitle {
        @include respond-below(md) {
            font-size: 18px;
            margin-bottom: 55px !important;
        }
    }
  
    .button{
         //Select Theme Button
        &--select-theme {
            background-color: #fff;
            border-radius: 50px;
            box-shadow: 0 0 10px 0 rgba($black, .1);
            padding: 8px 18px;
            color: $black;
            font-weight: $semi-bold;
             @include respond-below(md) {
                 padding: 10px 22px;
                 margin-bottom: 30px !important;
                 font-size: 20px;
             }
        }
          //Gradient Button
        &--gradient{
            border-radius: 50px;
            background: linear-gradient(to right, $main-gradient-1, $main-gradient-2);
            padding: 10px 40px;
            color: $white;
            font-weight: $regular;
            font-size: 16px;
            @include respond-below (md) {
                border-radius: 0;
                padding: 0;
                width: 100%;
                height: 50px;
                position: absolute;
                bottom: 0;
                left: 0;
                font-size: 22px;
                
            
            }
        }
    }

    //Close Icon Parent
    &__close-icon {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: auto;
    }

    //Close Button Customization 
    &.modal {
        display: block;

        .close-icon {
            &::before {
                background: $primary-color;
                height: 3px;
            }

            &::after {
                background: $primary-color;
                height: 3px;
            }
        }
    }

    //Inputs Parent
    &__input-group {
        display: flex;
        flex-direction: column;

        .input {
            width: 95%;
            @include respond-below(md) {
                width: 100%;
            }

            &--bold {
                width: 60%;
                @include respond-below(md) {
                    width: 100%;
                }
                
            }
            
        }
    }
    //Recommendation Button Parent
    &__button-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }
}