//PRE-LOADER PAGE

.loader-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh !important;
    width: 100% !important;
    z-index: 9999;
    position: absolute !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    background:  #fff;
    border: none;
    

    .spinner{
        width: 100px !important;
        height: 100px !important;
    }

    .logo-preload{
        margin: 6px 0px 0px 0px;
        width: 45px !important;
        position: absolute;
        }
}

// LOADER CARDS

.loader-cards{
    display: flex;
   align-items: center;
   justify-content: center;
   height: 200px;
   margin-bottom: 28px;
  }

$offset: 187;
$duration: 1s;

.spinner {
  animation: rotator $duration linear infinite;
  width: 40px;
  height: 40px;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: $primary-color; }
  100% { stroke: $primary-color; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

//LOADER MAS RESULTADOS

.mas-resultados{
    height: 100px !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

//LOADER CONTENT MODAL

.modal-loader{
    height: 100% !important;
    width: 100% !important;
    z-index: 100;
    position: absolute !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    background:  #fff;
    border: none;
    border-radius: 10px;

        // Mobile
        @include respond-below(xs) {
            border-radius: 0;
        }
  }

//LOADER PUBLISH

.modal-loader-publish{
    height: 100% !important;
    width: 100% !important;
    z-index: 100;
    position: absolute !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;

        // Mobile
        @include respond-below(xs) {
            border-radius: 0;
        }
}

.close{
    z-index: 500 !important;
    box-shadow: none !important;
}

//COOKIES




// TRANSITIONS MODALS

.transition-slide-in {
   
    animation: slide-in 800ms ease;
  }
  
  @keyframes slide-in {
      0% { 
        transform: translateX(+190%);
        -webkit-transform: translateX(+190%);
        -moz-transform: translateX(+190%);
        -o-transform: translateX(+190%);
       }
    100% { 
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -o-transform: translateX(0%);
     }
  }
.transition-slide-out {
    
    animation: slide-out 1s ease;
  }
  
  @keyframes slide-out {
    0% { 
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -o-transform: translateX(0%);
       }
    100% { 
        transform: translateX(-190%);
        -webkit-transform: translateX(-190%);
        -moz-transform: translateX(-190%);
        -o-transform: translateX(-190%);
     }
  }

/*buscador*/

.main-search {
    position: relative;
    width: 640px;
    border-radius: 5px;
    align-self: center;
    background-color: $white;
}

.main-search-xs {
    position: relative;
    width: 100%;
    background-color: $grey;
    border-radius: 5px;
    border: none;
    &:focus {
        border: 1px solid $primary-color;
        }
        .search-icon {
            top: -3px;
            right: 0px;
            width: 40px;
            height: 42px;
            &:before {
                content: "";
                position: absolute;
                margin: auto;
                top: 15px;
                right: 10px;
                bottom: 0;
                left: 20px;
                width: 6px;
                height: 1px;
                background: $text;
                transform: rotate(45deg);
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }
        
            &:after {
                content: "";
                position: absolute;
                margin: auto;
                top: 0px;
                right: 0;
                bottom: 0;
                left: -2px;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                border: 1px solid $text;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }
        }
}

.main-search .typeahead, .main-search .tt-query, .main-search .tt-hint {
    border-bottom: 1px solid #e6e6e6;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    padding: 1.3em 1.3rem;    
    font-weight: 300;    
    width: 100%;
    height: calc(2.25rem + 2px);
    text-align: left;
}
.mini-search .typeahead::placeholder {
    color: $text;
}

span.twitter-typeahead {
    width: 100%;
}

.main-search input::placeholder {
    color: $text;
}

.main-search input:focus {
    border-color: #e6e6e6;
    outline: none;
    box-shadow: 0 12px 25px 0 rgba(29,49,68,0.1);
}

.tt-hint {
    color: #cccccc;
}

.main-search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 63px;
    border: none;
    background: transparent;
}

.main-search .search-icon:before {
    background: #989898;
}

.main-search .search-icon:after {
    border-color: #989898;
}

.main-search-xs .search-users, .main-search-xs .tt-query, .main-search-xs .tt-hint, .main-search-xs .search-cities{
    border: none;
    /*background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;*/
    border-radius: 8px;
    font-size: 16px;
    padding: 20px 38px 20px 15px;    
    font-weight: 300;    
    width: 100%;
    height: calc(2.25rem + 2px);
    text-align: left;
}

.main-search-xs button {
    width: 48px;
    height: 42px;
}

.main-search-xs .search-icon:before {
    background: #bfbfbf;
}

.main-search-xs .search-icon:after {
    border-color: #bfbfbf;
}

.main-search-xs input:focus {
    border-color: #e6e6e6;
    outline: none;
    box-shadow: unset;
}

.main-search-xs .tt-menu {
    box-shadow: unset; 
    margin-top: 20px;
    display: flex !important;
    flex-direction: column;
}

.mini-search {
    position: relative;
    align-self: center;
    width: 35px;
    transition: all .5s;
    @include respond-below (sm) {
        width: 22px;
    }
}

.mini-search .tt-menu {
    max-height: 578px;
}

.mini-search .search-title {
    flex-direction: column;
    align-items: flex-start;
}

.mini-search .typeahead, .mini-search .tt-query, .mini-search .tt-hint {
    border-bottom: 1px solid #e6e6e6;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    text-align: center;
    font-size: 18px;
    padding: 1.3em 2.6rem 1.3em 0;    
    font-weight: 300;    
    width: 100%;
    height: calc(2.25rem + 2px);
    text-align: left;
    opacity: 0;   
    transition: all .5s;

    &:focus{
        border-bottom: 1px solid $primary-color;
        transition: all .5s; 
    }
}

    



.mini-search .search-title h4 {
    font-size: 14px;
}

.mini-search .tt-suggestion small, .mini-search .more-results a, .mini-search h3.league-name {
    font-size: 14px;
}
.mini-search .tt-suggestion small, .mini-search .more-results a, .mini-search h3 .no-result-search {
    font-size: 14px;
    font-weight: $semi-bold;
    color: $text;
}

.close-search button:before {
    content: '';
    top: 0;
    left: 9px;
    width: 20px;
    height: 1px;
    background: #989898;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.close-search button:after {
    content: '';
    top: 0;
    left: 0;
    width: 20px;
    height: 1px;
    border: none;
    background: #989898;
    border-radius: 0%;
    transform: rotate(-45deg);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.close-search {
    width: 315px;
    transition: all .5s;
}

.close-search .typeahead, .close-search .tt-query, .close-search .tt-hint {
    opacity: 1;
    transition: all .5s;
}

.nav-mobile-header .search-icon {
    right: -8px;
    width: 38px;
    height: 35px;
}

.nav-mobile-header .tt-menu {
/*    width: calc(100% + 50px);
    margin: 15px -25px 0;*/
    box-shadow: none;
    position: fixed !important;
    top: 65px !important;
    height: calc(100% - 65px);
    max-height: unset;

}

.nav-mobile-header .typeahead, .nav-mobile-header .tt-query, .nav-mobile-header .tt-hint {
    border-bottom: none;
    padding: 0.5em 2.6rem 0.5em 0;
    height: 35px;
}

.nav-mobile-header .close-search, .modal-body .close-search {
    width: 100%;
}

.no-scroll-overlay:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    /*background: rgba(242,242,242,.9);*/
    z-index: 12;
}


.tt-menu {
    width: 100%;
    border-radius: 0;
    border: none;
    margin-top: 0;
    box-shadow: 0 12px 25px 0 rgba(29,49,68,0.1);
    background: #fff;
    overflow-y: auto;
    max-height: 556px;
    @include respond-below(xs) {
        max-height: 600px;
    }
}

.tt-menu::-webkit-scrollbar, .common-friends::-webkit-scrollbar, .noti-dropdown ul::-webkit-scrollbar {
    background: transparent; 
    width: 5px;
}

.tt-menu::-webkit-scrollbar-track, .common-friends::-webkit-scrollbar-track, .noti-dropdown ul::-webkit-scrollbar-track  {
    background: transparent; 
}

.tt-menu::-webkit-scrollbar-thumb, .common-friends::-webkit-scrollbar-thumb, .noti-dropdown ul::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    opacity: .5;    
}

.tt-menu:hover::-webkit-scrollbar-thumb, .common-friends:hover::-webkit-scrollbar-thumb, .noti-dropdown ul:hover::-webkit-scrollbar-thumb {
    background: #b3b3b3; 
}

.tt-menu:hover::-webkit-scrollbar-track, .common-friends:hover::-webkit-scrollbar-track, .noti-dropdown ul:hover::-webkit-scrollbar-track {
    background: white;
}

.tt-suggestion {
    /*border-bottom: 1px solid #e6e6e6;*/
    padding: 12px 20px;
    display: inline-flex;
    align-items: center;
    text-align: left;
    width: 100%;
}

.tt-suggestion a:last-child {
    border-bottom: none;
}

.city-result img, .user-result img {
    border-radius: 50%;
    height: 30px;
    width: 30px;        
    margin-right: 12px;
}

.user-result img {
    border: 1px solid #e5e5e5;
}

.city-result img {
    background: #f9f9f9;
    padding: 8px;
}

.search-title { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 42px)
}

.search-title h4 {
    font-size: 16px;
    margin: 0;
    display: inline-block;
}

.tt-suggestion small {
    font-weight: 300;
    color: #808080;
    font-size: 14px;
}

.tt-suggestion:hover {
    cursor: pointer;
    background-color: #f9f9f9 !important;
}


.main-search-xs .tt-suggestion:hover {
    background-color: unset;
}

.main-search-xs .user-result {
    padding: 10px 0;
}


.league-name {
    padding: 10px 20px;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    background-color: #f8f9f9;
    margin: 0;
}
.no-result-search {
    padding: 20px 20px;
    text-align: left;
    background-color: #f9f9f9;
    margin: 0;
    font-size: 14px !important;
    font-weight: $regular;
    color: $text-secondary;
}

.more-results a, .empty-message p {
    padding: 14px;
    display: block;
    width: 100%;
    height: 100%;
    font-weight: 600;
    color: #43d6c8;
    text-align: center;
    background: #f8f9f9;
    margin: 0;
}

.more-results a:hover {
    background: #f2f2f2;
}

.tt-menu .more-results {
    display:none;
}

.tt-menu div:last-child .more-results {
    display:block;
}


.search-container {
    min-height: 350px;
    overflow-y: hidden;

}
.search-container .tt-menu {
    max-height: 266px;
    overflow-y: scroll;
    @include respond-below(xs) {
        max-height: 600px;
    }
}

/*.mini-search button svg {
    height: 22px;
    display: block;
    
}*/


/*Home Header Responsive*/

.nav-mobile, .toggle-menu {
    display: none;
}

.nav-mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    background: #fff;
}

.burger {
    position: relative;
}

.burger span {
    margin: 5px 0;
    background: #43d6c8;
    height: 1px;
    width: 24px;
    display: block;
    border-radius: 2px;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.close-nav .burger span:nth-child(2) {
    height: 0;
}

.close-nav .burger span:first-child {
    -webkit-transform: rotate(45deg) translateY(355%);
    -ms-transform: rotate(45deg) translateY(355%);
    -o-transform: rotate(45deg) translateY(355%);
    transform: rotate(45deg) translateY(355%);
}

.close-nav .burger span:last-child {
    -webkit-transform: rotate(-45deg) translateY(-355%);
    -ms-transform: rotate(-45deg) translateY(-355%);
    -o-transform: rotate(-45deg) translateY(-355%);
    transform: rotate(-45deg) translateY(-355%);
}

.close-nav .burger.noti:after {
    content: none;
}

.no-scroll, .no-scroll-overlay {
    overflow-y: hidden;
    position: fixed;
    width: 100%;
}

.toggle-menu {    
    position: fixed;
    top: 65px;
    left: 0;
    z-index: 25;
    background: #fff;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.nav-responsive {
    display: flex;
    flex-direction: column;
    height: calc(100% - 65px);
}

.nav-responsive ul {    
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.nav-responsive ul li a {
    font-weight: 600;
    color: #4d4d4d;
    font-size: 14px;
}

.nav-responsive ul li:first-child a {
    color: #fff;
}

.nav-responsive ul li {
    margin: 12px 0;
}

.nav-responsive .btn-inicio-sesion, .nav-responsive .btn-registrarse {
    height: 100%;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; 
    background: #43d6c8; 
    flex: 1;
}

.nav-responsive .btn-registrarse {
    color: #43d6c8; 
    background: #fff; 
}

.nav-responsive .btn-down {
    display: flex;
    align-items: center;
    height: 58px;
    justify-content: space-between;
}

.nav-responsive li.language a, .nav-responsive li.language {
    color: #b3b3b3;
    font-weight: 300;
}


/*Cards User City*/

.user-card {
    margin: 10px 0;
    box-shadow: 0 5px 10px 0 rgba(29,49,68,0.08);
    border-radius: 8px;
    background: #fff;
    padding: 30px 15px 20px;
    width: 250px;
    position: relative;
    cursor: pointer;

    @include respond-above(breakpoint3){
        width: 290px;
    }
}

.city-img {
	height: 204px;
    background-position: center center;
    background-size: cover;
    position: relative;
    margin: -15px -15px 0 -15px;
    display: block;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    display: flex;
    align-items: flex-end;

    @include respond-above(breakpoint3){
        height: 234px;
    }
}


.city-img:before {
    
    background: -moz-linear-gradient(top, rgba(29,29,27,0) 70%, rgba(29,29,27,1) 95%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(29,29,27,0) 70%,rgba(29,29,27,1) 95%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(29,29,27,0) 70%,rgba(29,29,27,1) 95%,rgba(0,0,0,1) 100%);
    bottom: 0;
    content: '';
    left: 0; 
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 8px 8px 0 0;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.city-card h3 {
	font-size: 15px;
	font-weight: 700;
	line-height: 16px;
	margin: 0;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 170px;
}

.city-card h3 small {
	font-size: 12px;
	font-weight: 300;
	color: #b3b3b3;
}

.city-card a h3:hover {
    opacity: .75
}

.likes, .likes-marked {
	display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.likes svg, .likes-marked svg {
    max-height: 100%;
    width: 18px;
    stroke: #43d6c8;
    stroke-width: 4;
    fill: none;      
}

.likes-marked svg {
    fill: #43d6c8;  
}

.likes svg:hover {
    fill: #43d6c8;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}

.user-title {
    display: flex;
    line-height: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 8px;
    width: 100%;
}

.content-title {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 12px;
}

.user-info {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 2;
}

.user-title h2 {
	font-size: 15px;
	color: #fff;
	font-weight: 600;
	margin: 0;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 200px;

    
}

.user-title a:hover h2 {
    text-decoration: underline;
}

.user-title span {
	font-size: 12px;
	color: #fff;
	font-weight: 300;
}

.user-title em {
	font-size: 12px;
	color: #b3b3b3;
	font-weight: 300;
	font-style: normal;
}

.user-img  {
	border-radius: 50%;
    height: 20px;
    width: 20px;
    background-size: cover;
    background-position: center;
    border: 1px solid #fff;
    flex-shrink: 0;
}

.user-card .user-title {
	flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.city-card .user-title {
    height: 30px;
    align-items: center;
}

.user-card a {
    align-self: center;
    margin-top: 4px;
}

.user-card .user-img  {	
    height: 138px;
    width: 138px;   
    margin: 0 0 20px;
    @include respond-below(breakpoint3) {
        height: 120px;
        width: 120px;  
    }
}

.user-card .user-title h2 {
    color: #000;
}

ul.user-recommendations {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

ul.user-recommendations li:first-child {
    font-size: 13px;
    font-weight: 600;
    color: #000;
}

ul.user-recommendations li:last-child {
    font-size: 12px;
    color: #b3b3b3;
}

ul.categories  {
	align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 5px;
}

ul.categories li:last-child {
    font-size: 16px;
    font-weight: 700;
    color: #cccccc;
    margin-top: 2px
}

ul.categories li {
    height: 18px;
    width: 18px;
}

ul.categories li img {
    height: 18px;
    max-width: 18px;
}

.user-content {
    text-align: center;
    margin-top: 23px;
}

.user-content span {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 300;
}

.user-content ul.categories {
    margin: 0 60px;
    @include respond-below(breakpoint3) {
        margin: 0 40px;
    }
}

ul.user-stats {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    line-height: 16px;
    color: #b3b3b3;
    margin: 29px 0 0;
    font-weight: 300;
}

ul.user-stats li span {
    font-weight: 800;
    color: #43d6c8;
}

ul.user-stats li:nth-child(2) {
    content: '';
    width: 1px;
    height: 24px;
    margin: 6px 0;
    background: rgba(179, 180, 180, .3);
    display: block;
}

.user-card .user-title {
    line-height: 16px;
}

.user-card .user-title span {
    font-size: 13px; 
    color: #000;   
}

.user-card .user-info {
    flex-direction: column;
    height: 50px;
}

.user-card .user-title em {
    font-size: 12px;
    display: none;
}

.city-card-2 {
    width: 250px !important;
    margin: 10px 0;
    box-shadow: 0 5px 10px 0 rgba(29,49,68,0.08);
    border-radius: 5px;
    background: #fff;
    padding: 15px 15px 10px;
    position: relative;
    cursor: pointer;

    @include respond-above(breakpoint3){
        width: 290px !important;
    }

    .user-info{
        .user-title{
            h2{
                width: 150px;
                font-size: 13px;
                
                @include respond-below(breakpoint3){
                    width: 120px !important;
                }
            }
        }
    }
}

.main-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.edit-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    z-index: -1;
    border-radius: 50%;

}
.city-card-2:hover .edit-link {
    z-index: 9;
}

.edit-link img {
    width: 16px;
}

.city-card-2:hover .city-img:before {
    background: -moz-linear-gradient(top, rgba(29,29,27,.2) 70%, rgba(29,29,27,1) 95%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(29,29,27,.2) 70%,rgba(29,29,27,1) 95%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(29,29,27,.2) 70%,rgba(29,29,27,1) 95%,rgba(0,0,0,1) 100%);
}

.city-content h4 {
    font-size: 15px;
    font-weight: 700;
    margin: 7px 0 0 0;
        
}

.city-title {
    height: 55px;
}

.city-location {
    font-size: 12px;
    margin: 20px 0 0 0;
    color: #B3B3B3;
    font-weight: 600;
    line-height: 13px;
    position: relative;
    
}

ul.city-data {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    border-top: 1px solid #EAF1F6;
    margin: 0px -15px 0px -15px;
    padding: 8px 15px 3px 15px;
    
}

ul.city-data li:first-child {
    font-weight: 300;
    color: #B3B3B3;
}
ul.city-data li:first-child span{
    font-weight: 600;
    color: $primary-color;
}

ul.city-data li:nth-child(2) {
    font-weight: 300;
    color: #B3B3B3;
    display: flex;
    align-items: center;
    margin-left: auto;
}
ul.city-data li:nth-child(3) {
    font-weight: 300;
    color: #B3B3B3;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
ul.city-data li:nth-child(2) img{
    height: 10px;
    padding-right: 3px;
    color: #808080;
}
ul.city-data li:nth-child(3) img{
    height: 10px;
    padding-right: 3px;
    color: #808080;
}






/*Tabs home*/


.tab-minimal li a {
    color: #43d6c8;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 5px 0;
    margin-right: 20px;
}

.tab-minimal li a.active {
    font-weight: 700;
}


.tab-minimal li a:after {
    background-color: #43d6c8;
    content: "";
    display: block;
    height: 2px;
    width: 0;
    margin-top: 2px;
}

.tab-minimal li a:hover:after, .tab-minimal li a.active:after {
    width: 100%;
}

/*Friends Dropdown*/

.friends-dropdown {
    position: relative;
}

.friends-dropdown-content {
    display: none;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
    padding: 10px 15px;
    position: absolute;
    z-index: 15;
    top: 25px;
}

.friends-dropdown-content:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: -6px;
    left: 7px;
}

.friends-dropdown-content ul li p {
    text-align: center;
    font-weight: 300;
    color: #b3b3b3;
    font-size: 13px;
    margin: 0 0 5px 0;
}

.friends-dropdown:hover .friends-dropdown-content {display: block;}

.friends-dropdown-content .user-title {
    height: 30px;
    align-items: center;
    flex-direction: unset;
    text-align: left;
}
.friends-dropdown-content .user-img {
    height: 30px;
    width: 30px;
}

.user-card .friends-dropdown-content {
    left: 45px
}

.friends-dropdown-content .user-img {
    margin: 0
}

.common-friends {
    min-height: 330px;
    max-height: 330px;
    overflow-y: auto;
}

.common-friends li {
    display: flex;
    align-items: center;
    padding: 7px 15px;
}

.common-friends li .user-img {
    height: 30px;
    width: 30px;
}

.common-friends li .user-title {
    justify-content: unset;
    padding: 0;

}

.common-friends li .user-title h2 {
    font-size: 14px;
    margin-left: 12px;
    color: #333;
    width: 250px;
}

/*Footer*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.17);
    padding: 3px;
    z-index: 1000;
}

footer ul {
    margin: -2px 0 0 0;
}

footer ul li {
    display: inline-block;
    color: #b3b3b3;
    position: relative;
    margin: 0 8px;
}

footer ul li:before {
    content: '';
    background: #e6e6e6;
    width: 1px;
    height: 16px;
    display: block;
    top: 4px;
    right: -11px;
    border-radius: 10px;
    position: absolute; 
}

footer ul li:last-child:before {
    content: none;
}

footer ul li a {
    font-size: 12px;
    color: #b3b3b3;
}

footer ul li a:hover {
    color: #4d4d4d;
}

footer ul li.language a {
    margin: 0;
}

footer ul li.language a.current, .nav-responsive li.language a.current {
    font-weight: 600;
    color: #43d6c8
}

/*mi perfil */

.noti-indicator {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #FF2A00;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin: 0 10px;
}

.noti-indicator:hover:not(.noti-indicator-disabled) {
    background: #ff4d2a;
    color: #fff;
}

.noti-indicator-disabled {
    content: '';
    background: url(../../img/bell-icon.svg) #cccccc no-repeat;
    background-size: 10px auto;
    background-position: center center;
}


.noti-indicator span {
    margin-top: -2px;
}

.user-top {
    display: flex;
    align-items: center;
}

.user-top .user-img {
    margin: 0 10px;
    width: 35px;
    height: 35px;
}

.user-top .dropdown-menu {
    border: none;
    box-shadow: 0 4px 25px 0 rgba(29,49,68,0.1);
    border-radius: 8px;
    margin-top: 0;
}

.user-top .dropdown-menu:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: 30px;
    margin-left: -0.5em;
    box-sizing: border-box;
    border: 12px solid black;
    border-color: #ffffff #ffffff transparent transparent;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: 3px -3px 1.5px 0 rgba(29,49,68,0.02);
}

.user-top .noti-dropdown {
/*    top: 28px !important;
    left: 78px !important;*/
    transform: translate(-320px, 52px)  !important;
    width: 430px;
    padding: 0;
}

.user-top .noti-dropdown:before {
    right: 84px;
}

.user-top .userinfo-dropdown {
/*    top: 22px !important;
    left: 12px !important;*/
    transform: translate(-195px, 57px) !important;
    width: 260px;
    text-align: center;
}

.user-title-bottom {
    display: flex;
    align-items: center;
    padding: 0 20px 14px;
}

.user-title-bottom .user-img {
    width: 32px;
    height: 32px;
}

.user-title-bottom h4 {
    font-size: 13px;
    color: #4d4d4d;
    font-weight: 700;
    margin: 0 0 0 7px;
}

.nav-responsive .noti-indicator {
    display: inline-flex;
    margin: 0 0 0 7px;
}

.btn-down .secondary-btn {
    padding: 0 20px 14px;
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 400;
}

.myprofile-content {
    display: flex;
    justify-content: center;
}

.myprofile-card {
    width: 400px;
    padding: 30px;
    margin-top: -170px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    height: 100%;
}

.myprofile-card .user-img {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    position: relative;
}

.myprofile-card h2 {
    font-weight: 700;
    font-size: 20px;
    margin: 25px 0 0;
}

.myprofile-card h4 {
    font-size: 14px;
    align-self: flex-start;
    font-weight: 600;
}

.myprofile-card span.myprofile-card-city {
    font-weight: 400;
    color: #B3B3B3;
    font-size: 12px;
}

.myprofile-card p {
    font-size: 14px;
    line-height: 18px;
    color: #333;
}

.myprofile-card-stats {
    background: #f9f9f9;
    display: inline-flex;
    padding: 15px 25px;
    border-radius: 60px;
    margin: 20px 0 50px 0;
}

.myprofile-card-stats li {
    margin: 0 8px;
    font-size: 13px;
    color: #cccccc;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.myprofile-card-stats li a {

    font-size: 13px;
    color: #cccccc;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.myprofile-card-stats li a:hover {
    color: #43d6c8;
}

.myprofile-card-stats li span {
    font-size: 16px;
    font-weight: 800;
    color: #43d6c8;
}

.myprofile-card-interests {
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.myprofile-card-interests li {
    padding: 4px 14px;
    background: #f9f9f9;
    border-radius: 20px;
    margin: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.myprofile-card-interests li img {
    width: 16px;
    margin: 0 5px 0 0;
}

 h4.recos-title {
    font-size: 20px;
    color: #4d4d4d;
    display: flex;
    align-items: center;
    line-height: 18px;
    margin-top: 25px;
}

.bubble-turquoise {
    background: #43d6c8;
    font-size: 13px;
    padding: 4px 16px 6px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    margin: 0 10px;
}

.myprofile-inner {
    margin-left: 80px;
    position: relative;
    margin-top: 40px;
    width: 910px;
}
// .tab-contents-profile{
//     height: 54vh;
// }
.container-norecos{
    height: 54vh;
    background: #fff;
    // z-index: 200;
    position: absolute;
}

.myprofile-cover {
    width: 100%;
    height: 230px;
    margin-top: 65px;
    position: relative;
    background: center center no-repeat;
    background-size: cover !important;
}

.myprofile-cover .myprofile-inner {
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: 0;
    padding-bottom: 30px;
}

.myprofile-cover-img:after {
    content: '';
    background: #000;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.myprofile-cover-img:hover:after {
    opacity: .5;
}

.myprofile-cover-img:hover .myprofile-cover-default-message{
    opacity: 1;
}

.myprofile-cover-img .myprofile-cover-default-message {
    opacity: 0;
}

.myprofile-cover-default-message {
    position: absolute;
    left: 0;
    z-index: 1;
}

/*.myprofile-cover-default-message a:nth-child(2), .myprofile-cover-default-message a:nth-child(3), .myprofile-cover-img .myprofile-cover-default-message a:first-child{
    display: none;
}
*/
/*.myprofile-cover-img .myprofile-cover-default-message a:nth-child(2), .myprofile-cover-img .myprofile-cover-default-message a:nth-child(3){
    display: block;
}*/

.myprofile-cover-default-message h4 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    line-height: 20px;
    margin: 0;
}

.myprofile-cover-default-message p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.myprofile-cover-default-message a {
    position: relative;
    display: block;
    box-sizing: content-box;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.myprofile-cover-default-message a:hover {
    opacity: .75;
}

.change-pic-btn img {
    width: 12px;
}

.change-pic-btn {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: -36px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.slick-prev:before, .slick-next:before {
    color: #B3B3B3;
}

.slick-next {
    right: -20px;
}

.slick-prev {
    left: -20px;
}

.noti:after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ff2a00; 
    bottom: -4px;
    right: -4px;
}

.change-pic-profile {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 12px;
    right: 12px;
    background: #43d6c8;
    border-radius: 50%;
}

.change-pic-profile img {
    width: 12px;
}

.message {
    height: 500px;
}

.message div {
    text-align: center;
}

.message h4 {
    font-size: 16px;
    font-weight: 700;
    color: #808080;
}

.message h4 small {
    font-size: 14px;
    color: #cccccc;
    font-weight: 400;
}

/*.city-card-2 .dropdown-menu, .myprofile-card .dropdown-menu {
    transform: translate3d(0, 0, 0px) !important;
    margin: 0;
    opacity: 0;
}

.city-card-2 .dropdown:hover > .dropdown-menu, .myprofile-card .dropdown:hover > .dropdown-menu {
    display: block;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.city-card-2 .dropdown > .dropdown-toggle:active, #moreOptions {
    pointer-events: none;
}*/

.myprofile-commonfriends ul {
    display: inline-flex;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.myprofile-commonfriends li {
    margin-right: -5px;
    color: #4d4d4d;
    font-size: 12px;
    font-weight: 600;
}

.myprofile-commonfriends .user-img {
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
}

.myprofile-commonfriends ul li:first-child {
    margin-left: 10px;
}

/*country select*/

.share-list {
    margin-bottom: -30px;
}

.share-list li {
    margin: 0 -30px;
    padding: 20px 30px;
}
.share-list li:first-child a .share-icon img {
    margin-top: 4px;
}

.share-list li:hover {
    cursor: pointer;
    background-color: #eef0f0;
}

.share-icon {
    width: 44px;
    height: 44px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.share-icon img {
    max-width: 24px;
}

.share-list-item {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.share-list-item h4 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin: 0 0 0 15px;
}

.share-list-item input {
    margin: 0 0 0 15px;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: .3rem;
    color: #333;
    background-color: $white;
}

/*country select*/

.country-select-btn {
    display: block;
    width: 180px;
    white-space: nowrap;
    padding: 10px 40px 10px 20px;
    border-radius: 20px;
    color: #43d6c8;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    position: relative;
    z-index: 20;
    box-shadow: 0 0 5px 0 rgba(29,49,68,0.08);
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.country-select-btn:hover, .country-select-btn:focus {
    color: #43d6c8;
}

.country-select-btn.open {
    border-radius: 20px 20px 0 0;   
}

.country-select-dropdown {
    padding: 0;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 5px 5px 0 rgba(29,49,68,0.08);
    overflow: hidden;
    margin-top: 0;
}

.country-select-dropdown a {
    width: 180px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/*.country-select-dropdown a:hover {
    color: #999999;
    background: unset;
}
*/
.country-select:after {
    content: '';
    background: url(../img/chevron-down.svg) center center no-repeat;
    width: 12px;
    height: 7px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
    position: absolute;
}
.list-action {
    padding: 0px 15px;
}
.list-action li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #f2f2f2;
}

.list-action p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.round {
    position: relative;
    height: 25px;
    width: 25px;
}

.round label {
    background-color: #fff;
    border: 1px solid #43d6c8;
    border-radius: 50%;
    cursor: pointer;
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 5px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 10px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #43d6c8;
    border-color: #43d6c8;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.container-no-results{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.cities-no-results{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.cities-no-results img{
    width: 120px;

    // Mobile
    @include respond-below(xs) {
        width: 100px;
    }
}

.cities-no-results p span{
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;

    // Mobile
    @include respond-below(xs) {
        font-size: 16px;
    }
    
}

.cities-no-results p{
    font-size: 13px;
    text-align: center;
    margin-top: 30px;

    // Mobile
    @include respond-below(xs) {
        width: 260px;
    }
}

.container-page-not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 2000;
    background-color: #fff;
}
.container-page-not-found .logo-page-not-found{
    width: 100px;
    margin-top: 30px;
}

.page-not-found{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.page-not-found img{
    width: 150px;
}

.page-not-found p span{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.page-not-found p{
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
}




/*-------- MAIN REPSONSIVE *----------/


/*Container cards*/

@media (min-width: 576px) {


     .container-cards .col-md-auto {
        width: auto;
    }
    .container-cards {
        max-width: 550px !important;
   }
}

@media (min-width: 768px) {
    .container-cards {
        max-width: 550px !important;
   }

}

@media (min-width: 900px) {

    .container-cards {
        max-width: 820px !important;
   }

}
@media (min-width: 1200px) {
    .container-cards {
        max-width: 1090px !important;
   }
    
}

@media (min-width: 1400px) {
    .container-cards {
        max-width: 1360px !important; 
   }
    
}

@media (min-width: 1500px) {
    .container-cards {
         max-width: 1360px !important;
    }
}

@media (min-width: 1600px) {
    .container-cards {
         max-width: 1560px !important;
    }
}
@media (max-width: 1600px) {

    .myprofile-inner {
        width: 790px;
        margin-left: 60px;
    }
    .myprofile-card {
        width: 350px;
        
    }
}
@media (max-width: 1350px) {

    .myprofile-inner {
        width: 520px;
    }
    
}

@media(max-width: 1100px) {
    
    .header-nav-container {
        display: none !important;
        
    }
    .myprofile-commonfriends .user-img {
        width: 20px;
        height: 20px;
    }

    .nav-mobile {
        display: block;
    }
    
    .myprofile-inner {
        margin-left: 0;
        width: 790px;
    }
    .myprofile-content {
        flex-direction: column;
        align-items: center;
    }

    .myprofile-cover .myprofile-inner {
        width: 100%;
    }

    .myprofile-cover-default-message {
        max-width: 120px;
        left: 54px;
    }

    .country-select-btn {
        font-size: 13px;
    }

    .myprofile-inner .d-flex {
        flex-direction: column;
        align-items: center;
    }

    h4.recos-title {
        font-size: 14px;
        line-height: 16px;
        margin-top: 30px;
    }

    .bubble-turquoise {
        font-size: 9px;
        padding: 2px 12px 3px;
    }

    .search-title h4 + small {
    flex-direction: column;
    align-items: flex-start;
    }

    .edit-link {
        opacity: 1;
        z-index: 9;
    }

    .message {
        height: 200px;
    }

    .message h4, .message h4 small {
        font-size: 13px;
    }

    .change-pic-profile {
        width: 22px;
        height: 22px;
        bottom: 0;
        right: 0;
    }

    .tab-minimal {
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 20px;
    }

    .tab-minimal li {
        flex: 1;
        padding-bottom: 9px;
    }

    .tab-minimal li a {
        margin: 0 14px;
        text-align: center;
        font-size: 13px;
        color: #cccccc;
    }

    .tab-minimal li a.active {
        color: #43d6c8;
    }

    .tab-minimal li a:after {
        content: none;
    }

    .recos-slider .col-md-auto {
        width: auto;
    }

    html, body {
        min-height: 100%;
        overflow-x: hidden;
    }
    .myprofile-card > .user-img {
        width: 86px;
        height: 86px;
    }

    .myprofile-card h2 {
        font-size: 17px;
        margin: 15px 0 0;
    }

    .myprofile-card-city {
        font-size: 11px;
    }

    .myprofile-card-stats {
        margin: 0 0 20px 0;
    } 

    .myprofile-card-stats li {
        margin: 0 10px;
    }

    .myprofile-card-stats li,  .myprofile-card-stats li a {
        font-size: 10px;
    }

    .myprofile-card-stats li span, .myprofile-card-stats li a span {
        font-size: 13px;
    }

    .tab-contents-profile .myprofile-card {
        margin-top: 20px;
        padding: 0;
    }

    .tab-contents-profile .myprofile-card p {
        font-size: 13px;
        text-align: left;
        color: $black;
        margin-bottom: 30px;
    }

    .tab-contents-profile .myprofile-card-interests li {
        font-size: 12px;
    }
    .show-mobile {
        display: block !important;
    }

    .hide-mobile {
        display: none !important;
    }
    .tab-contents-profile {
        width: 100%;
    }

    .myprofile-card {
        width: 100%;
        margin-top: 75px;
        box-shadow: none;
        padding: 10px;
    }
    .myprofile-inner {
        margin: 0;
    }
    footer {
        display: none;
    }
}

@media (max-width: 1024px) {

    .header-home .main-search, .header-home p {
        display: none;
    }

    .logo-header img {
        height: 15px;
    }

    section.header-home {
        margin: 65px 0 25px;
        padding: 20px 45px;
        background: rgb(120,230,214);
        background: -moz-linear-gradient(left, rgb(120,230,214) 0%, rgb(41,202,204) 100%);
        background: -webkit-linear-gradient(left, rgb(120,230,214) 0%,rgb(41,202,204) 100%);
        background: linear-gradient(to right, rgb(120,230,214) 0%,rgb(41,202,204) 100%);
    }

    section.header-home h1 {
        color: #ffffff;
        font-size: 20px;
        margin: 0;
    }

    .myprofile-cover {
        margin-top: 65px;
    }    

}

@media (max-width: 880px) {

    .myprofile-inner {
        width: 100%;
        margin: 0;
        width: 540px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .city-card .city-title {
        margin-top: 8px;
    }

    .likes svg, .likes-marked svg {
        width: 15px;
    }

    .likes, .likes-marked {
        font-size: 11px;
    }

    ul.categories {
        margin-bottom: 3px;
    }

    // .user-title span {
    //     font-size: 9px;
    // }

    // .user-img {
    //     width: 13px;
    //     height: 13px;
        
    // }

    // .city-card-2 .user-title h2 {
    //     width: 115px;
    //     font-size: 10px;
    // }

    // ul.categories li img {
    //     height: 16px;
    //     max-width: 16px;
    // }

    // .content-title {
    //     margin: 0 0 0 7px;
    // }

    .city-card h3 {
        width: 125px;
    }

    // .container-cards {
       
    //     padding-right: 10px;
    //     padding-left: 10px;
    // }

    // .city-card, .user-card, .city-card-2 {
    //     width: 165px !important;
    //     margin: 5px 0;
    //     border-radius: 5px;
        
    // }
    // .city-card-2 {
    //     padding: 10px;
    // }

    // .container-cards .col-md-auto {
    //     -ms-flex: 0 0 100%;
    //     flex: 0 0 100%;
    //     max-width: 100%;
    // }

    // .margin-20 .col, .margin-20 .col-1, .margin-20 .col-10, .margin-20 .col-11, .margin-20 .col-12, .margin-20 .col-2, .margin-20 .col-3, .margin-20 .col-4, .margin-20 .col-5, .margin-20 .col-6, .margin-20 .col-7, .margin-20 .col-8, .margin-20 .col-9, .margin-20 .col-auto, .margin-20 .col-lg, .margin-20 .col-lg-1, .margin-20 .col-lg-10, .margin-20 .col-lg-11, .margin-20 .col-lg-12, .margin-20 .col-lg-2, .margin-20 .col-lg-3, .margin-20 .col-lg-4, .margin-20 .col-lg-5, .margin-20 .col-lg-6, .margin-20 .col-lg-7, .margin-20 .col-lg-8, .margin-20 .col-lg-9, .margin-20 .col-lg-auto, .margin-20 .col-md, .margin-20 .col-md-1, .margin-20 .col-md-10, .margin-20 .col-md-11, .margin-20 .col-md-12, .margin-20 .col-md-2, .margin-20 .col-md-3, .margin-20 .col-md-4, .margin-20 .col-md-5, .margin-20 .col-md-6, .margin-20 .col-md-7, .margin-20 .col-md-8, .margin-20 .col-md-9, .margin-20 .col-md-auto, .margin-20 .col-sm, .margin-20 .col-sm-1, .margin-20 .col-sm-10, .margin-20 .col-sm-11, .margin-20 .col-sm-12, .margin-20 .col-sm-2, .margin-20 .col-sm-3, .margin-20 .col-sm-4, .margin-20 .col-sm-5, .margin-20 .col-sm-6, .margin-20 .col-sm-7, .margin-20 .col-sm-8, .margin-20 .col-sm-9, .margin-20 .col-sm-auto, .margin-20 .col-xl, .margin-20 .col-xl-1, .margin-20 .col-xl-10, .margin-20 .col-xl-11, .margin-20 .col-xl-12, .margin-20 .col-xl-2, .margin-20 .col-xl-3, .margin-20 .col-xl-4, .margin-20 .col-xl-5, .margin-20 .col-xl-6, .margin-20 .col-xl-7, .margin-20 .col-xl-8, .margin-20 .col-xl-9, .margin-20 .col-xl-auto {
    //     padding-right: 5px;
    //     padding-left: 5px;
    // }

    // .margin-20 {
    //     margin-right: -5px;
    //     margin-left: -5px;
    // }

    // .city-img {
    //     height: 128px;
    //     margin: -10px -10px 0 -10px;
    //     border-radius: 5px 5px 0 0;
    // }
    .noti-content .city-img {
        height: 128px;
        margin: -10px -10px 0 -10px;
    }

    // .city-content h4 {
    //     font-size: 13px;       
    // }

    // .user-title {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: flex-start;
    //     line-height: 10px;
    //     padding: 0 0 0 5px;
    // }

    // .user-title a:last-child {
    //     margin-top: -3px;
    // }

    // .user-card .user-img {
    //     margin: 0 0 12px;
    // }

    // ul.city-data {
    //     font-size: 10px;
    // }

    // .city-location {
    //     margin: 0 0 0 10px;
    //     height: 33px;
    // }

    .city-location:before {    
        width: 8px;
        height: 10px;
        top: 1px;
        left: -10px;
    }

    // .city-title {
    //     height: 55px;
    //     line-height: 11px;
    // }
    // .user-card {
    //     border-radius: 5px;
    //     padding: 15px 15px 12px;  
    // }
    // .user-card .user-img {
    //     height: 70px;
    //     width: 70px; 
    //     margin: 0 0 10px;   
    // }

    // .user-card .user-info {
    //     height: auto;
    //     line-height: 6px;
    // }

    // .user-content span {
    //     font-size: 10px;
    // }

    // .user-card .user-title h2 {
    //     font-size: 11px;
    // }

    // .user-card .user-title span {
    //     font-size: 9px;
    // }

    // .user-content {
    //     margin-top: 10px;
    // }

    // .user-content ul.categories {
    //    margin: -5px 12px 0;
    // }

    // .city-img:before {
    //     background: -moz-linear-gradient(top, rgba(29,29,27,0) 50%, rgba(29,29,27,1) 85%, rgba(0,0,0,1) 100%);
    //     background: -webkit-linear-gradient(top, rgba(29,29,27,0) 50%,rgba(29,29,27,1) 85%,rgba(0,0,0,1) 100%);
    //     background: linear-gradient(to bottom, rgba(29,29,27,0) 50%,rgba(29,29,27,1) 85%,rgba(0,0,0,1) 100%);
    // }

    // ul.user-stats {
    //     font-size: 10px;
    //     line-height: 12px;
    //     margin-top: 20px;
    // }

    // ul.user-stats li:nth-child(2) {
    //     margin: 0;
    // }

    .common-friends, .search-results {
        max-height: unset;
    }

    .common-friends li .user-title {
        flex-direction: unset;
        align-items: center;
        line-height: unset;
    }

    .common-friends li .user-title h2 {
       width: 145px;
    }

    // .city-card-2 .dropdown-menu {
    //     transform: translate3d(-15px, 30px, 0px) !important;
    // }

}

@media(max-width: 576px) {
    
    .container-cards {
        max-width: 325px;
   }
    .modal-dialog {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      max-width: 100%;
    }

    .modal-header {
        padding-bottom: 30px;
    }

    .modal-content {
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .modal-body {
        overflow-y: auto;
        padding-top: 0;
    }

    .search-container {
        min-height: calc(100vh - 200px );
    }
    .myprofile-inner {
        width: 315px;
    }
    .city-card-2{
        width: 295px !important;
    }
    .user-card{
        width: 295px !important;
    }
    .tab-contents-profile{
        width: 295px !important;
        margin: 0 auto;
    }
   

}

@media (max-width: 330px) {
    .container-cards {
        width: 240px;
    }

    .container-cards .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .city-card, .user-card, .city-card-2 {
        width: 230px;        
    }

}





