.header-nav-container-select-theme {

    @include respond-below(sm) {
        display: none !important;
    }

    .logo-header {
        img {
            width: 100px;
        }
    }
    .select-page-title__nav-title {
        color: $primary-color;
        font-size: 20px;
    }
}


.select-theme-page {
    min-height: 100vh;
    background: $border;
    margin-top: 30px;


    .select-theme-page__container {
        min-height: 100vh;
        
        //Mobile Break Changed to Tablet for this page
        @media(max-width: 767px) {
    
            .modal-dialog {
              width: 100%;
              height: 100%;
              margin: 0;
              padding: 0;
              max-width: 100%;
            }
        
            .modal-header {
                padding-bottom: 10px;
            }
        
            .modal-content {
                height: 100%;
                left: 0;
                position: fixed;
                top: 0;
                width: 100%;
            }
        
            .modal-body {
                overflow-y: auto;
                padding-top: 0;
            }
        
            .search-container {
                min-height: calc(100vh - 200px );
            }
            .modal-select-theme {
                .modal-body {
                    .modal-select-theme__theme-container {
                        padding-left: 10px;      
                        
                    }
                }
            }
        
        }

        .modal-select_theme_interest {
            .modal-header {
                .modal-select_theme_interest__content {
                    .modal-select_theme_interest__title {
                        font-weight: $semi-bold;
                        margin-right: 8px;
                    }

                    .modal-select_theme_interest__copy {
                        font-size: 13px;
                        color: $text;
                    }
                }
            }

            .modal-dialog {
                max-width: 760px;
                @include respond-below(sm) {
                    min-width: 596px;
                }
                
                .modal-body {
                    padding: 30px 50px 10px;
                    @include respond-below(xs) {
                        padding: 30px 40px 10px;
                    }
                    .modal-select-theme__theme-container {
                        .modal-select-theme__theme {
                            position: relative;

                            .modal-select_theme_interest__checkbox-container {
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                left: -25px;
                                margin-right: 10px;
                                z-index: 3;

                                // Original Checkbox
                                .modal-select_theme_interest__checkbox {
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    opacity: 0;
                                    z-index: 3;

                                    // When original is checked, affects custom checkbox (sibling)
                                    &:checked {
                                        &~.modal-select_theme_interest__checkbox-custom {
                                            display: flex;
                                        }
                                    }
                                }

                                // Custom checkbox
                                .modal-select_theme_interest__checkbox-custom {
                                    display: none;
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 100%;
                                    background-color: $primary-color;
                                    margin-bottom: 0;
                                    align-items: center;
                                    justify-content: center;

                                    // Tick
                                    &:after {
                                        content: '';
                                        display: block;
                                        width: 4px;
                                        height: 8px;
                                        border: solid $white;
                                        border-width: 0 2px 2px 0;
                                        transform: rotate(45deg);
                                        margin-bottom: 1px;
                                    }
                                }
                            }

                            .modal-select_theme_interest__text {
                                font-size: 15px;
                            }
                        }

                        // Mobile
                        @include respond-below(xs) {
                            margin-left: 0px;
                        }

                        .modal-select-theme__theme {
                            width: 33.3%;
                            margin-bottom: 30px;
                            padding: 0 6px;
                            cursor: pointer;

                            @include respond-below(md) {
                                width: 50%;
                            }
                            // Mobile
                            @include respond-below(sm) {
                                width: 100%;
                            }

                            &--state-active,
                            &:active {
                                .modal-select-theme__text {
                                    color: $black;
                                    font-weight: $bold;
                                }
                            }

                            .modal-select-theme__img {
                                width: 22px;
                                margin-right: 15px;
                            }

                            .modal-select-theme__text {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

            .modal-footer {
                @include respond-below(sm) {
                    padding: 0;
                }
               
            }
        }
    }

    .select-theme-footer {
    @include respond-below(lg) {
        display: block;
    }
    @include respond-below(sm) {
        display: none;
    }
    }
}