.btn {
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    padding: 7px 24px 9px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    /*margin: 20px 0;*/
    outline: none !important;
    position: relative;
    border: none;
    border-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    

    &.focus, &:focus {
        // box-shadow: 0 0 0 3px rgba(67, 214, 200, .15);
        box-shadow: none !important;
        outline: none; 
    }

    &-xs {
        font-size: 14px;
        padding: 4px 16px 6px;
    }

    &-lg {
        font-size: 18px;
        padding: 10px 25px 12px;
        border-radius: 40px;
    }

    &-xlg {
        padding: 8px 50px;
    }
 
    &-icon {
        display: inline-flex;
        align-items: center;
        padding: 10px 35px 12px 20px;
    
        img {
            max-width: 15px;
            margin-right: 7px;
        }
    }

    &-turquoise {
        background: rgb(120,230,214);
        background: -moz-linear-gradient(left, rgb(120,230,214) 0%, rgb(41,202,204) 100%);
        background: -webkit-linear-gradient(left, rgb(120,230,214) 0%,rgb(41,202,204) 100%);
        background: linear-gradient(to right, rgb(120,230,214) 0%,rgb(41,202,204) 100%);
        box-shadow: none !important;

        &:hover {
            background: -moz-linear-gradient(left, rgb(67, 214, 200) 0%, rgb(41, 175, 162) 100%);
            background: -webkit-linear-gradient(left, rgb(67, 214, 200) 0%,rgb(41, 175, 162) 100%);
            background: linear-gradient(to right, rgb(67, 214, 200) 0%,rgb(41, 175, 162) 100%);
            color: #fff;
        }
    }

    &-white {
        background: #fff;
        color: #43d6c8;

        &:hover {
            // background: #f2f2f2;
            color: #43d6c8;
        }
    }

    &-grey {
        background: #dddddd;
        color: #fff;

        &:hover {
            background: #ccc;
            color: #fff;
        }
        

    }

    &-turquoise-outline {
        color: #43d6c8;
        border: 1px solid #43d6c8;
        background: transparent;
        box-shadow: none !important;
    
        &:hover {
            background: rgb(120,230,214);
            background: -moz-linear-gradient(left, rgb(120,230,214) 0%, rgb(41,202,204) 100%);
            background: -webkit-linear-gradient(left, rgb(120,230,214) 0%,rgb(41,202,204) 100%);
            background: linear-gradient(to right, rgb(120,230,214) 0%,rgb(41,202,204) 100%);
            color: #fff;
        }
    }

    &-single-icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 50%;
        padding: 0;
    
        img {
            width: 24px;
        }
    
        &:focus {
            box-shadow: unset;
        }
    }

    &-highlight {
        padding-left: 36px;
        padding-right: 36px;
    }
    
    &-full {
        width: 100% !important;
        max-width: 100% !important;
    }
    &-half {
        @include respond-above(sm) {
            width: 48% !important;
        }
    }
    
    &-disabled {
        pointer-events: none;
        background: #e6e6e6;
        border: transparent;
    }

    &--social-google {
        background-color: $btn-google;
        
    }

    &--social-facebook {
        background: $btn-facebook;
        margin-bottom: 8px !important;
    }

    //MODIFIER FOR FOOTER BUTTONS
    &--mobile-footer {
            @include respond-below(xs) {
                padding-top: 13px;
                padding-bottom: 13px;
                font-size: 16px;
            }
    }
    //MODIFIER FOR FOOTER BUTTONS
    &--desktop-footer-left {
        @include respond-above(sm) {
            margin-right: 13px; 
        }
        @include respond-below(sm) {
            margin-bottom: 10px; 
        }
    }
    &--mobile-footer-left {
        @include respond-below(sm) {
            margin-right: 13px; 
        }
    }

    // Search button
    &.search-button {
        color: #333;
        background: black;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 14px;
            width: 19px;
            height: 14px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            background: url(../img/search-icon-green.svg) center center no-repeat;
        }
    }
}

// Search icon
.search-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 46px;
    border: none;
    background: transparent;

    &:before {
        content: "";
        position: absolute;
        margin: auto;
        top: 15px;
        right: 10px;
        bottom: 0;
        left: 20px;
        width: 8px;
        height: 1px;
        background: #43d6c8;
        transform: rotate(45deg);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    &:after {
        content: "";
        position: absolute;
        margin: auto;
        top: -2px;
        right: 0;
        bottom: 0;
        left: -4px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #43d6c8;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
}
// Boton Comentario
.btn-comment{
    font-size: 13px;
    color: $primary-color;
    background: transparent;
}

// Boton Recomendar
.btn-recommend{
    display: none;

     // Mobile
     @include respond-below(breakpoint4) {
        display: block;
        font-size: 20px;
        color: $white !important;
        background: $primary-color;
        border-radius: 100px;
        width: 100px;
        height: 100px;
        right: 25px;
        bottom: 25px;
        position: fixed;
        z-index: 10;
        -webkit-box-shadow: 10px 10px 91px 3px rgba(0,0,0,0.15);
        -moz-box-shadow: 10px 10px 91px 3px rgba(0,0,0,0.15);
        box-shadow: 10px 10px 91px 3px rgba(0,0,0,0.15);
    }
    @include respond-below(sm) {
        width: 70px;
        height: 70px;
        right: 15px;
        bottom: 15px;
        }
    
    img{
        @include respond-below(breakpoint4) {
            width: 30px;
            height: 30px;
            margin: 35px;
        }
        
        @include respond-below(sm) {
            width: 22px;
            height: 22px;
            margin: 24px;
        }
    }

}
