.dropdown-menu {
    border: none;

    // Edit dropdown
    &.edit-dropdown {
        padding: 0;
        overflow: hidden;
        box-shadow: 0 5px 10px 0 rgba(29,49,68,0.08);
        margin-top: 5px;

        .dropdown-item {
            padding: 15px 20px;
            position: relative;
            font-size: 14px;
            font-weight: 600;

            &:hover, &:focus {
                color: #ffffff;
                background: #43d6c8;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: -1px;
                left: 20px;
                display: block;
                background: #f2f2f2;
                height: 1px;
                width: calc(100% - 40px);
            }

            &:last-child {
                &:after {
                    content: none;
                }
            }
        }
    }

    // Noti dropdown
    &.noti-dropdown {
        h3 {
            margin: 15px 20px 15px;
            font-size: 16px;
            color: #43D6C8;
            font-weight: 600;
        }

        ul {
            max-height: 60vh;
            overflow-y: auto;

            .empty-noti {
                width: 100%;
                padding: 0 !important;
                height: 80px;

                .noti-content{
                    width: 100%;
                    
                }
    
                img{
                    width: 10px;
                }
            }

            li {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                margin: 0;
                padding: 20px 0 20px 40px;
                color: #4d4d4d;

                &:hover {
                    background: #F7F7F7;
                }

                &.noti-new {
                    background: rgba(67, 214, 200, .1);

                    &:hover {
                        background: rgba(67, 214, 200, .17);
                    }

                    &:before {
                       content: "";
                        position: absolute;
                        width: 7px;
                        height: 7px;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 20px;
                        background: #43D6C8;
                        border-radius: 50%; 
                    }
                }
                
                a {
                    &:hover {
                        opacity: 1 !important;
                    }

                    &:not(.btn) {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        color: #4d4d4d;
                    }
                }

                .user-img {
                    margin: 0 auto;
                    width: 40px;
                    height: 40px;
                }

                .city-img {
                    margin: 0 auto;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    border-radius: 10px;
                    border: 1px solid #fff;
                    flex-shrink: 0;

                    &:before {
                        content: none;
                    }  
                    @include respond-below(xs) {
                    margin: 0 auto;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    border-radius: 10px;
                    border: 1px solid #fff;
                    flex-shrink: 0;
                    }
                }
            }

        }
        

        .noti-content {
            width: calc(100% - 90px);
        

            .noti-action {
                color: $black;
                font-size: 13px;
                font-weight: 500;
                line-height: 15px;
                margin: 0;

                span {
                    font-weight: 700;
                }
            
            }

            .noti-link-group {
                display: inline-flex;
                margin: 12px 0;
            }

            .noti-input {
                font-size: 12px;
                font-weight: 500;
                margin: 12px 0;
                color: #4d4d4d;
            }

            .noti-timelapse {
                font-size: 11px;
                font-weight: 300;
                color: #999999;
                margin-top: 5px !important;
                margin-bottom: 0px !important;
            }
        }
    }

    // User info dropdown
    &.userinfo-dropdown {
        .user-img {
            width: 62px;
            height: 62px;
            margin: 12px auto 6px;
        }

        h4 {
            font-size: 15px;
            color: #43d6c8;
            font-weight: 700;
            margin: 0;
        }

        a:not(ul) {
            color: #b3b3b3;
            font-weight: 300;
            font-size: 13px;
        }

        ul {
            border-top: 1px solid #f2f2f2;
            margin-top: 10px;
            padding: 10px 0 5px;

            li {
                display: list-item;

                a{
                    font-size: 14px !important;
                }
            }
        }
    }

    // Dropdown item
    .dropdown-item {
        &.active, &:active {
            background-color: #43d6c8;
        }
    }
}