/*Character Counter **ADD JS*/ 

.char-counter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95%;
    color: $primary-color;
    font-size: 12px;
    padding-top: 5px;
    @include respond-below(xs) {
        font-size: 15px;
        
    }

}
.input {
      @include respond-below(xs) {
          font-size: 20px;
          padding-bottom: 5px;
      }
     &--bold {
            font-weight: $bold;
         &::placeholder {
             font-weight: $bold;
            @include respond-below(xs) {
                font-size: 22px;
            }
         }
    }

    &--full {
        width: 100%;
        height: 30px;
    }
}

.reco-image-posted{
    margin: 10px 5px 0px 0px !important;

    .input-file__upload-img {
        opacity: 1 !important;
        cursor: pointer;
    }
}

.input-file {
    width: 90px;
    height: 65px;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-bottom: 10px;

    // Upload button
    &__button {
        background: $primary-color;

        .input-file__button-img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
 
            .input-file__button-img {
                width: 32px;
            }
        }

        .input-file__copy {
            font-weight: $regular;
            font-size: 12px;
            margin-top: 5px;

            // Mobile
            @include respond-below(xs) {
                font-size: 14px;
            }
        }

    }

    // Upload one pic
    &__onepic--state-active {
        background-size: cover;
        background-position: center center;

        .input-file__button-img-container {
            display: none;
        }
    }

    // Image uploaded item
    &__upload {
        position: relative;
        overflow: hidden;
        margin-right: 10px;
        display: none;
        border: 1px solid $border;

        @include respond-below(xs) {
            margin-right: 5px;
            }

        // Hover
        &:hover {

            .input-file__upload-img {
                opacity: .1;
            }
            
            .input-file__hover-cross {
                position: absolute;
                top: 5px;
                right: 7px;
                width: 13px;
                height: 13px;
                background-image: url('../img/close-icon.svg');
                background-size: cover;
                background-repeat: no-repeat;
                cursor: pointer;
            }
            &:first-child{
                opacity: 1 !important;
            }
        }
        
        // upload image
        &-img {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
        }

        &--state-uploaded {
            display: block;
        }
    }

}

//Custom Square Checkbox//

.custom-checkbox__checkbox-container {
    margin-right: 10px;
    z-index: 3;

    // Original Checkbox
    .custom-checkbox__checkbox-default {
        width: 15px;
        height: 15px;
        left: 0px;
        position: absolute;
        opacity: 0;
        z-index: 3;

        // When original is checked, affects custom checkbox (sibling)
        &:checked {
            &~.custom-checkbox__checkbox {
                background-color: $primary-color;
                border: 1px solid transparent;

                // Tick
                &:after {
                    display: block;
                }
            }
        }
    }

    // Custom checkbox
    .custom-checkbox__checkbox {
        display: flex;
        width: 15px;
        height: 15px;
        margin-bottom: 0;
        align-items: center;
        justify-content: center;
        border: 1px solid #d3d3d3;
        border-radius: 4px;

        // Tick
        &:after {
            content: '';
            display: none;
            width: 4px;
            height: 8px;
            border: solid $white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            margin-bottom: 1px;
        }
    }
}