/*modales*/
.modal {
    background-color: rgba($black, .7);
    overflow-y: hidden !important;
    @include respond-below(xs) {
        background-color: $white;
        border: none !important;
    }
    /* ::-webkit-scrollbar {
        display: none !important;
    } */
   
    
    ::-webkit-scrollbar {
        width: 8px !important;
        
    }
      
    
    ::-webkit-scrollbar-track {
        background: transparent !important;
    }
       
    
    ::-webkit-scrollbar-thumb {
        background: transparent !important;
        border-radius: 10px !important;  
    }
      
    
    ::-webkit-scrollbar-thumb:hover {
        background: #c2c2c2 !important;
        
    }
    
    .modal-dialog {

        &--medium {
            @include respond-above(xs) {
                max-width: 700px;
            }
        }

        &--xl {
            max-width: 1100px;
        }
    }

    &-backdrop {
        // background-color: rgba(242,242,242,);

        &.show {
            opacity: 0;
        }
    }

    &-content {
        box-shadow: 0 12px 25px 0 rgba(29, 49, 68, 0.08);
        border: none;
        border-radius: 10px;

        // Mobile
        @include respond-below(xs) {
            border-radius: 0;
        }
       
    // Notifications mobile
        .noti-dropdown {
            margin: 0px -25px;
            ul {
                max-height: unset;
                li{
                    position: relative;
                    width: 100%;
                    margin: 0;
                    padding: 15px 0px 15px 40px;
                    display: flex;
                    align-items: center;
                    color: $black;
                    a:not(.btn){
                        width: 100%;
                        display: flex;
                        align-items: center;
                        color: $black;
                    }
                    .noti-content{
                        width: calc(100% - 90px);
                        .noti-action{
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 15px;
                            margin: 0px 0px 5px 0px;
                            color: $black;
                            span{
                                font-weight: 700;
                            }
                        }
                        .noti-input{
                            font-size: 12px;
                            font-weight: 500;
                            margin: 12px 0;
                            color: $black;
                        }
                        .noti-timelapse{
                            font-size: 11px;
                            font-weight: 300;
                            color: #999999;
                            margin: 0;
                        }
                    }
                }
                :hover{
                    background: $grey;
                }
                .noti-new{
                    background: rgba(67, 214, 200, .1);
                }
                .noti-new::before{
                    content: "";
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 20px;
                    background: $primary-color;
                    border-radius: 50%;
                }
                .city-img{
                    margin: 0 auto;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    border-radius: 10px;
                    border: 1px solid #fff;
                    flex-shrink: 0;
                }
                ::before{
                    background: none;
                }
                .user-img{
                    margin: 0 auto;
                    width: 40px;
                    height: 40px;
                }
            }

        }
    }

    &-title {
        font-weight: 600;
        color: #43d6c8;

        small {
            font-size: 14px;
            color: #b3b3b3;
            font-weight: 400;
        }
    }

    &-title-single {
        text-align: center;
        font-size: 24px;
        font-weight: 800;
        color: #000;
    }

    &-header {
        border-bottom: none;
        padding: 15px 15px 0px 25px;
        padding-bottom: 0;
        @include respond-below(xs) {
            padding: 25px 25px 0px 25px;
            background: $white;
        }

        .modal__arrow-back {
            padding: 0;
            background-color: transparent;

            .modal__arrow-back-title {
                color: $primary-color;
                font-size: 14px;
                margin-bottom: 5px;

                // Mobile
                @include respond-below(xs) {
                    margin-bottom: 15px;
                }
            }
        }
        .modal__subtitle {
            font-size: 14px;
             color: #b3b3b3;
          }
    }

    &-body {
        padding: 25px;
        
        p {
            &:not(.noti-action):not(.noti-timelapse):not(.noti-input) {
                font-size: 16px;
                color: $text;
            }
        }

        .input {
            min-width: 65%;
            font-size: 14px;
            &::placeholder {
                font-size: 14px;
            }
            // Mobile
            @include respond-below(xs) {
                width: 100%;
                font-size: 17px;

                &::placeholder {
                    font-size: 17px;
                }
            }
        }

        textarea {
            width: 100%;
            height: 30px;
            max-height: 90px;
            overflow-y: hidden;
            resize: none;
            outline: none;
            border: none;
            border-bottom: 1px solid #f2f2f2;
            background: transparent;
            font-size: 14px;

            &::placeholder {
                font-size: 14px;
            }

            // Mobile
            @include respond-below(xs) {
                max-height: 100%;
                font-size: 17px;

                &::placeholder {
                    font-size: 17px;
                }
            }
        }

        // Input group
        .modal__input-group {
            .input {

                // Mobile
                @include respond-below(xs) {
                    font-size: 17px;

                    &::placeholder {
                        font-size: 17px;
                    }
                }
            }
        }

        // Reco modal
        .btn {

            // Color grey button
            &--color-grey {
                display: block;
                padding: 7px 40px 7px 20px;
                border-radius: 20px;
                font-size: 14px;
                background-color: $grey;
                overflow: hidden;
                -webkit-transition: all 0.1s linear;
                -o-transition: all 0.1s linear;
                transition: all 0.1s linear;
                font-weight: $semi-bold;

                // Mobile
                @include respond-below(xs) {
                    font-size: 17px;
                }
            }

            //Select Theme Button
            &--select-theme {
                background-color: #fff;
                border-radius: 50px;
                box-shadow: 0 0 10px 0 rgba($black, .1);
                padding: 8px 18px;
                color: $black;
                font-weight: $semi-bold;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .more-icon {
            width: 17px;
        }

        .dropdown-titletobutton {
            &-button {

                // Active
                &--state-active {
                    color: $primary-color;
                }
            }
        }
    }

    &-footer {
        border-top: none;
        padding: 25px;

        // Mobile
        @include respond-below(xs) {
            padding: 20px !important;
        }

        .btn {

            // Mobile
            @include respond-below(xs) {
                width: 100%;
                border-radius: 40px;
            }

            // Large
            &--size-lg {

                // Desktop
                @include respond-above(xs) {
                    width: 60%;
                }
            }
        }

        .modal__footer-btn {
            // Mobile
            @include respond-below(xs) {
                width: 100%;
            }
        }
    }

    // Close icon
    .close-icon {
        width: 30px;
        height: 30px;
        display: block;
        position: relative;
        transition-duration: 10ms;
        &:hover:before{
            background: $primary-color;
            height: 2px; 
        }
        &:hover:after{
            background: $primary-color;
            height: 2px;
            
        }

        &:before {
            content: '';
            top: 15px;
            left: 7px;
            width: 20px;
            height: 1px;
            background: #989898;
            position: absolute;
            transform: rotate(45deg);
        }

        &:after {
            content: '';
            top: 15px;
            left: 7px;
            width: 20px;
            height: 1px;
            background: #989898;
            transform: rotate(-45deg);
            position: absolute;
        }
    }

    // Search results
    .search-results {
        max-height: 505px;
        box-shadow: none;

        h3 {
            &.league-name {
                padding: 10px 0;
                background-color: unset;
                color: #b3b3b3;
            }
        }

        .tt-suggestion {
            padding: 12px;
        }
    }

    // location circle
    .location-error {
        .location-error__circle {
            width: 90px;
            height: 90px;
            border-radius: 100%;
            background-color: $grey;
            margin-bottom: 15px;

            .location-error__circle-img {
                width: 35%;
            }
        }

        .location-error__content {
            .location-error__title {
                font-size: 18px;
                font-weight: $semi-bold;
            }

            .location-error__copy {
                font-size: 15px;
            }
        }

    }




    // *----- Select theme *------ //
    &.modal-select-theme {
        .modal-body {
            .modal-select-theme__theme-container {
                padding-left: 30px;

                // Mobile
                @include respond-below(xs) {
                    margin-left: 0px;
                    padding-left: 0px;
                }

                .modal-select-theme__theme {
                    width: 33.3%;
                    margin-bottom: 30px;
                    padding: 0 6px;
                    cursor: pointer;

                    // Mobile
                    @include respond-below(xs) {
                        width: 100%;
                    }

                    &--state-active,
                    &:active {
                        .modal-select-theme__text {
                            color: $black;
                            font-weight: $bold;
                        }
                    }

                    .modal-select-theme__img {
                        width: 22px;
                        margin-right: 15px;
                    }

                    .modal-select-theme__text {
                        margin-bottom: 0;
                        font-size: 15px;
                    }
                }
            }
        }
    }

    // *----- Choose city *------ //
    &.modal-choose-city {
        .modal-content {
            min-height: 500px;
        }

        .modal-body {
            
            // Mobile
            @include respond-below(xs) {
                margin-bottom: 30px;
            }

            // No cities
            .modal-choose-city__no-city-container {
                .modal-choose-city__no-city {
                    .modal-choose-city__content {
                        .modal-choose-city__title {
                            font-size: 20px;
                        }

                        .modal-choose-city__copy {
                            font-size: 14px;
                        }
                    }
                }
            }

            // City container
            .modal-choose-city__city-container {
                max-height: 306px;
                overflow-y: scroll;
                &:hover{
                    &::-webkit-scrollbar-thumb {
                        background: #f2f2f2 !important;
                        &:hover {
                            background: #c2c2c2 !important;
                        }
                    }
                }

                // Mobile
                @include respond-below(xs) {
                    max-height: initial;
                }

                .modal-choose-city__city-item {
                    width: 100%;
                    padding: 10px;
                    margin-right: 5px;
                    cursor: pointer;
                    

                    // Mobile
                    @include respond-below(xs) {
                        width: 100%;
                        padding: 10px 0 10px 0;
                    }

                    .modal-choose-city__image-container {
                        width: 80px;
                        min-width: 80px;
                        height: 60px;
                        overflow: hidden;
                        border-radius: 10px;
                        margin-right: 15px;

                        @include respond-below(xs) {
                            width: 60px;
                            min-width: 60px;
                            height: 47px;
                        }

                        .modal-choose-city__img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }

                    }

                    .modal-choose-city__text-container {
                        max-height: 54px;
                        .modal-choose-city__title {
                            font-size: 15px;
                            font-weight: $semi-bold;
                            margin: 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;


                            @include respond-below(xs) {
                                font-size: 14px;
                            }
                        }

                        .modal-choose-city__copy {
                            font-size: 12px;
                            margin-bottom: 0;
                            display: inline-block;

                            span{
                                font-size: 14px;
                                font-weight: 600;
                                margin-left: 2px;
                                margin-right: 2px;
                            }
                            .modal-choose-city__copy-recos{
                                font-size: 13px !important;
                            }
                            
                        }
                    }
                }
                .modal-choose-city__city-item:hover{
                    background-color: #f2f2f2;
                }
            }
        }
    }

    // *----- New city *------ //
    &.modal-new-city {

        .modal-content {
            min-height: 506px;

            // Mobile
            @include respond-below(xs) {
                height: 100%;
            }
        }

        // Main content
        .modal-new-city__main-content {
            .modal-body {
                padding: 30px 80px;

                // Mobile
                @include respond-below(xs) {
                    padding: 30px;
                }

                // City info
                .modal-new-city__city-info {
                    .modal-new-city__add-city-pic {
                        width: 30%;
                        height: 130px;

                        // Mobile
                        @include respond-below(xs) {
                            width: 100%;
                            height: 100%;
                            margin-bottom: 50px;
                        }

                        .input-file__button {
                            width: 100%;
                            height: 100%;

                            // Mobile
                            @include respond-below(xs) {
                                width: 175px;
                                height: 150px;
                            }
                        }
                    }

                    .modal-new-city__select-city {
                        width: 70%;
                        padding-left: 60px;

                        // Mobile
                        @include respond-below(xs) {
                            width: 100%;
                            padding-left: 0;
                        }

                        // City selected
                        &--state-selected {
                            color: $primary-color;
                        }

                        .modal-new-city__dropdown {
                            margin-bottom: 20px;


                            .modal-new-city__dropdown-menu {
                                background-color: $grey;

                                .modal-new-city__dropdown-item {
                                    cursor: pointer;
                                    font-size: 14px;
                                    font-weight: $semi-bold;
                                    padding: 0.4rem 1.4rem;

                                    // Hover
                                    &:hover {
                                        color: $primary-color;
                                    }

                                    // Active
                                    &:active {
                                        background-color: transparent;
                                    }
                                }
                            }

                            // Show
                            &.show {
                                .modal-new-city__button {
                                    border-radius: 20px 20px 0 0;
                                }

                                .modal-new-city__dropdown-menu {
                                    width: 100%;
                                    height: 230px;
                                    overflow-y: scroll;
                                    top: -5px !important;

                                }
                            }
                        }

                        .country-select-btn {
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
            }

            .modal-footer {
                padding: 1rem;
                padding-bottom: 22px;
            }
        }

        // Search city
        .modal-new-city__search-city {
            .modal-body {
                .tt-menu{
                    max-height: 340px;
                    @include respond-below(xs){
                        max-height: 665px;
                    }
            }
                // Title
                .modal-new-city__search-title {
                    .input {
                        border-radius: 5px;
                        border: none;
                        font-weight: 600;
                        font-size: 16px;
                        padding: 20px 38px 20px 15px;
                        background-color: $grey;
                        &::placeholder {
                            font-weight: 300;
                            color: $text;
                            font-size: 16px;
                        }
                        
                    }
                
                    .search-icon {
                        top: 24px;
                        right: 25px;
                        width: 40px;
                        height: 42px;
                        &:before {
                            content: "";
                            position: absolute;
                            margin: auto;
                            top: 15px;
                            right: 10px;
                            bottom: 0;
                            left: 20px;
                            width: 6px;
                            height: 1px;
                            background: $text;
                            transform: rotate(45deg);
                            -webkit-transition: all .2s ease-in-out;
                            -o-transition: all .2s ease-in-out;
                            transition: all .2s ease-in-out;
                        }
                    
                        &:after {
                            content: "";
                            position: absolute;
                            margin: auto;
                            top: 0px;
                            right: 0;
                            bottom: 0;
                            left: -2px;
                            width: 14px;
                            height: 14px;
                            border-radius: 50%;
                            border: 1px solid $text;
                            -webkit-transition: all .2s ease-in-out;
                            -o-transition: all .2s ease-in-out;
                            transition: all .2s ease-in-out;
                        }
                    }
                
                }

                // Content
                .modal-new-city__search-city-content {
                    .modal-new-city__search-city-city-list {
                        .modal-new-city__search-city-item {
                            padding: 7px 20px;

                            // Hover
                            &:hover {
                                background-color: rgba($grey, .7);
                            }

                            .modal-new-city__location-error__circle {
                                width: 38px;
                                height: 38px;
                                margin-right: 15px;
                                margin-bottom: 0;

                                .modal-new-city__location-error-img {
                                    width: 35%;
                                }
                            }

                            .modal-new-city__search-city-name {
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
    }

    // *----- City Card *------ //
    &.modal-city-card {
        .modal-dialog {
            max-width: 90%;
            height: 100%;

            // Mobile
            @include respond-below(xs) {
                max-width: initial;
            }

            // Custom breakpoint: 1080px
            @include respond-below(breakpoint4) {
                max-width: initial;
                margin-top: 0;
            }

            // Custom breakpoint: 1600px
            @include respond-above(breakpoint3) {
                max-width: 1400px;
            }

        }

        .modal-content {
            height: 100%;
            padding-bottom: 1.75rem;

            // Custom breakpoint: 800px and 1050px
            @include respond-between(xs, breakpoint1) {
                height: 100%;
                left: 0;
                position: fixed;
                top: 0;
                width: 100%;
            }

            // Custom breakpoint: mobile to 1080px
            @include respond-below(breakpoint4) {
                border-radius: 0;
                padding-bottom: 0;

            }
        }

        .modal-body {
            height: 60vh;
            padding-bottom: 0;
            overflow-y: scroll;

            // Mobile 
            @include respond-below(xs) {
                height: initial;
            }

            h6 {
                font-size: 14px;

                // Custom breakpoint: 1200px and 1025px
                @include respond-between(breakpoint2, lg) {
                    font-size: 15px;
                }
            }

            .input-file-container {
                overflow-y: scroll;
                
                .input-file {
                    min-width: 95px;
                    min-height: 90px;
                    
                }
            }

            // Left side
            &__left {
                width: 33.33%;
                height: 100%;
                padding: 0 40px;
                overflow-y: scroll;
                border-right: 1px solid rgba($text, .1);
                &:hover{
                    &::-webkit-scrollbar-thumb {
                        background: #f2f2f2 !important;
                        &:hover {
                            background: #c2c2c2 !important;
                        }
                    }
                }
                
                
                @include respond-below(md) {
                    padding: 0 15px;
                }

                // Custom breakpoint: 1200px and 1025px
                @include respond-between(breakpoint2, lg) {
                    width: 40%;
                }

                // Custom breakpoint: 800px
                @include respond-between(xs, breakpoint2) {
                    width: 100%;
                    margin-bottom: 30px;
                    border-right: none;
                    padding: 0 25px;
                }

                // Mobile
                @include respond-below(xs) {
                    width: 100%;
                    border-right: none;
                }

                .user-profile {
                    display: flex;

                    &__img {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                    }
                    a{
                        color: $black;

                        .user-profile__user-name {
                            font-size: 14px;
                            margin-left: 10px;
                            margin-bottom: 0;
                            font-weight: 600;
    
                            // Custom breakpoint: 1200px and 1050px
                            @include respond-between(breakpoint2, lg) {
                                font-size: 15px;
                            }
                        }
                    
                    }
                    .user-profile__user-name {
                        font-size: 14px;
                        margin-left: 10px;
                        margin-bottom: 0;
                        font-weight: 600;

                        // Custom breakpoint: 1200px and 1050px
                        @include respond-between(breakpoint2, lg) {
                            font-size: 15px;
                        }
                    }
                }

                .city {
                    margin-top: 15px;
                    margin-bottom: 7px;

                    &__location {
                        &-img {
                            width: 9px;

                            // Custom breakpoint: 1200px and 1050px
                            @include respond-between(breakpoint2, lg) {
                                width: 11px;
                            }
                        }

                        &-city-name {
                            color: $primary-color;
                            font-size: 13px;
                            margin-left: 5px;
                            margin-bottom: 0;

                            // Custom breakpoint: 1200px and 1050px
                            @include respond-between(breakpoint2, lg) {
                                font-size: 16px;
                            }
                        }
                    }

                    &__actions {
                        font-size: 25px;
                    }
                }

                .city-description {
                    &__title {
                        font-size: 18px;

                        // Custom breakpoint: 1200px: 1200px and 1050px
                        @include respond-between(breakpoint2, lg) {
                            font-size: 20px;
                        }
                    }
                }


                .input-file-container {
                    overflow-x: initial;
                    flex-wrap: wrap;

                    /* Hide scrollbar for Chrome, Safari and Opera */
                    &:hover{
                        &::-webkit-scrollbar-thumb {
                            background: #f2f2f2 !important;
                            &:hover {
                                background: #c2c2c2 !important;
                            }
                        }
                    }
                    /* &::-webkit-scrollbar {
                        display: none !important;
                    } */

                    // Mobile
                    @include respond-below(xs) {
                        overflow-x: scroll;
                        flex-wrap: initial !important;
                    }

                    .input-file__upload-container {
                        width: 100%;

                        // Mobile
                        @include respond-below(xs) {
                            flex-wrap: initial !important;
                            flex-direction: row-reverse;
                            justify-content: flex-end;
                        }
                    }

                    .input-file {
                        width: 30%;
                        height: 95px;
                        border-radius: 8px;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;

                        // Custom breakpoint: 1200px and 1050px
                        @include respond-between(breakpoint2, lg) {
                            width: 30%;
                            height: 95px;
                            
                        }

                        // Custom breakpoint from 500px to 1050px
                        @include respond-between(breakpoint5, breakpoint2) {
                            width: 130px;
                            height: 120px;
                        }
                        @include respond-below(sm) {
                            width: 115px;
                            height: 90px;
                        }

                        &.input-file__button {

                            // Mobile
                            @include respond-below(xs) {
                                margin-right: 10px;
                            }
                        }

                        .input-file__button-img-container {
                            .input-file__button-img {
                                width: 26px;
                            }

                            .input-file__copy {
                                font-size: 11px;
                                margin-top: 2px;
                            }
                        }
                    }
                }
                .modal-city-posted__comments-container {
                    width: 100%;
                    flex-direction: column;
                    margin-top: 30px;
                    .title-comments {
                        font-size: 14px;
                        color: #9d9d9d;;
                    }
                    .comment-box {
                        margin-top: 10px;
                        padding: 10px;
                        width: 100%;
                        border-radius: 40px;
                        border: 1px solid #f2f2f2;
                        .comment {
                            width: 90%;
                            padding-left: 10px;
                            font-size: 13px;
                            border: none;
                            color: #000;
                        }
                        .comment::placeholder {
                            color: #b3b3b3;
                        }
                    }
                }
                .modal-city-posted__upload-comments-container {
                    width: 100%;
                    flex-direction: column;
                    .upload-comment-box {
                        width: 100%;
                        padding: 10px;
                        margin-top: 10px;
                        border: none;
                        border-radius: 20px;
                        background-color: #f2f2f2;
                        
                        .upload-comment {
                            width: 90%;
                            padding-left: 10px;
                            margin-bottom: 0px;
                            font-size: 13px;
                            border: none;
                            color: #000;
                            vertical-align: middle;
                        }
                    }
                    .comment-date {
                        text-align: end;
                        margin-right: 15px;
                        margin-top: 5px;
                        font-size: 11px;
                        border: none;
                        color: #b3b3b3;
                    }
                }
            }

            // Right side
            &__right {
                width: 66.66%;
                padding: 10px 25px;
                height: 100%;
                overflow-y: scroll;
                &:hover{
                    &::-webkit-scrollbar-thumb {
                        background: #f2f2f2 !important;
                        &:hover {
                            background: #c2c2c2 !important;
                        }
                    }
                }
                

                // Custom breakpoint: 1200px and 1025px
                @include respond-between(breakpoint2, lg) {
                    width: 58.3%;
                    height: 100%;
                }

                // Custom breakpoint: 800px
                @include respond-between(xs, breakpoint2) {
                    width: 100%;
                    overflow-y: initial;
                    height: 60%;
                }

                // Mobile
                @include respond-below(xs) {
                    width: 100%;
                    height: 60%;
                    overflow-y: initial;
                }

                // Main content
                .modal-body__right-content {
                    padding-left: 80px;
                    padding-right: 60px;
                    padding-top: 10px;

                    // Custom breakpoint: 1050px
                    @include respond-between(breakpoint2, breakpoint1) {
                        padding-left: 80px;
                    }

                    // Custom breakpoint: 800px
                    @include respond-between(xs, breakpoint2) {
                        padding-left: 60px;
                    }

                    // Mobile
                    @include respond-below(xs) {
                        padding-left: initial;
                        padding-right: 0px;
                        margin-top: 30px;
                    }

                    .modal-body__right-items {
                        margin-bottom: 50px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    

                        .modal-body__right-title-container {
                            position: relative;
                            margin-bottom: 5px;

                            .modal-body__right-title-btn {
                                position: absolute;
                                left: -60px;
                                padding: 8px;
                                border-radius: 100%;

                                // Mobile
                                @include respond-below(xs) {
                                    position: initial;
                                    margin-right: 15px;
                                }
                            }

                            .modal-body__right-title {
                                font-size: 18px;
                                margin-bottom: 0px !important;

                                // Custom breakpoint: 1200px: 1200px and 1050px
                                @include respond-between(breakpoint2, lg) {
                                    font-size: 19px;
                                }
                            }
                        }

                        // IMAGEN RECO
                        .container-uploaded-img{
                    

                            .uploaded-img{
                                width: 90px;
                                height: 65px;
                                position: relative;
                                overflow: hidden;
                                object-fit: cover;
                                margin-right: 7px;
                                margin-bottom: 7px;
                                border: 1px solid $border;
                                border-radius: 15px;
                                cursor: pointer;
                            }
                        }


                        .modal-body__right-item {
                            margin-bottom: 20px;


                            .modal-body__right-item-main {
                                .modal-body__right-item-title-container {
                                    margin-bottom: -13px;

                                    // Mobile
                                    @include respond-below(xs) {
                                        margin-bottom: -5px;
                                    }

                                    .modal-body__right-item-title {
                                        font-size: 16px;
                                        font-weight: $semi-bold;
                                        margin-right: 25px;
                                        margin-bottom: 0;

                                        // Custom breakpoint: 1200px: 1200px and 1050px
                                        @include respond-between(breakpoint2, lg) {
                                            font-size: 16px;
                                            margin-bottom: 3px;
                                        }
                                    }
                                }

                                .modal-body__right-date {
                                    font-size: 11px;
                                    color: $text;

                                    // Custom breakpoint: 1200px: 1200px and 1050px
                                    @include respond-between(breakpoint2, lg) {
                                        font-size: 13px;
                                    }
                                }
                            }

                            .modal-body__right-copy {
                                margin-top: 5px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }

                // No recos
                .modal-body__right-no-recos-container {
                    display: flex;

                    .modal-body__right-no-recos-content {
                        .location-error {
                            .modal-body__right-no-recos-copy {
                                font-size: 14px;

                                // Custom breakpoint: 1200px and 1050px
                                @include respond-between(breakpoint2, lg) {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .modal-footer {
            padding: 0;
            @include respond-below(breakpoint2) {
                background: $border;
            }

            .modal-footer__left {
                width: 33.33%;

                // Custom breakpoint: 1200px and 1025px
                @include respond-between(breakpoint2, lg) {
                    width: 41.66%;
                }
                @include respond-below(breakpoint2) {
                    display: none;
                }
            }

            .modal-footer__right {
                width: 66.66%;
                background-color: $border;
                padding: 10px 25px;
                margin: 0px !important;

                // Custom breakpoint: 1200px and 1025px
                @include respond-between(breakpoint2, lg) {
                    width: 63.3%;
                }

                // Custom breakpoint: 800px
                @include respond-between(xs, breakpoint2) {
                    width: 100%;
                    margin: 0px !important;
                }

                // Mobile
                @include respond-below(xs) {
                    width: 100%;
                    background: transparent;
                    padding: 0px !important;
                    margin: 0px !important;
                }

                // State main content active
                &--state-main-active {
                    padding: 0;

                    .btn {
                        padding: 10px 30px !important;
                    }

                    .modal-footer__publish {

                        // Mobile
                        @include respond-below(xs) {
                            display: block !important;
                            width: 65%;
                            border-radius: 20px 0 0 20px;
                        }
                    }
                }



                .btn {
                    padding: 5px 40px;

                    &:first-child {
                        padding: 3px 11px 5px 15px;
                    }
                }

                .modal-footer__add-reco {
                    font-size: 13px;
                    font-weight: $semi-bold;

                    // Mobile
                    @include respond-below(xs) {
                        
                        font-weight: $semi-bold;
                        font-size: 16px;

                    }
                }

                .modal-footer__publish {

                    // Mobile
                    @include respond-below(xs) {
                        
                    }
                }
            }

        }
    }

    // *----- Edit Reco *------ ///
    &.modal-edit-reco {
        .modal-footer {
            .create-edit-reco__save {
                background-color: $primary-color;
                color: $white;
                margin-left: 0;
            }
        }
    }

    // *----- Post Successful *------ //
    &.modal-post-successful {
        .modal-dialog {
            max-width: 400px;

            @include respond-below(xs) {
                max-width: 100%;
            }
        }

        .modal-body {
            .modal-post-successful__content {
                .modal-post-successful__title {
                    font-size: 25px;
                    font-weight: $bold;
                }
            }

            .modal-post-successful__social-medias {
                .share-icon-link {
                    margin-right: 30px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    // *----- City card posted *------ //
    &.modal-city-card-posted {
        .modal-content {
            .modal-body {
                padding: 0px 25px !important;
                // overflow-y: hidden !important;
                @include respond-below(md) {
                    padding: 0px 25px !important;
                }
                .dropdown {
                    visibility: hidden;
                }
                .modal-card{
                    @include respond-above(md) {
                        height: 100% !important;
                    }
                }
                /* ::-webkit-scrollbar {
                   display: none !important;
                } */
                
                

                

                // Left
                .modal-body__left {
                    height: 100%;
                    &:hover{
                        &::-webkit-scrollbar-thumb {
                            background: #f2f2f2 !important;
                            &:hover {
                                background: #c2c2c2 !important;
                            }
                        }
                    }
                    .modal-city-card-posted__save-and-share {
                        .modal-city-card-posted__btn-container {
                            margin-bottom: 30px;

                            .modal-city-card-posted__heart {
                                display: none;
                                width: 24px;

                                // Active
                                &--state-active {
                                    display: block;
                                }
                            }
                            .animate-heart{
                                animation: heartbeat 500ms ease-in;
                                
                                }

                            @keyframes heartbeat{
                                0%{
                                    transform: scale( 1 );
                                    -ms-transform: scale(1);
                                    -webkit-transform: scale(1);
                                }
                                25%{
                                    
                                    -ms-transform: rotate(5deg);
                                    -webkit-transform: rotate(5deg);
                                    transform: rotate(5deg);
                                }
                                50%{
                                    transform: scale( 1.50 );
                                    -ms-transform: scale(1.50);
                                    -webkit-transform: scale(1.50);
                                }
                                75%{
                                   
                                    -ms-transform: rotate(-5deg); 
                                    -webkit-transform: rotate(-5deg);
                                    transform: rotate(-5deg);
                                }
                                100%{
                                    transform: scale( 1 );
                                    -ms-transform: scale(1);
                                    -webkit-transform: scale(1);
                                }
                                }

                            .btn {

                                // Mobile
                                @include respond-below(sm) {
                                    font-size: 14px;
                                }
                            }

                            .modal-city-card-posted__btn-save {
                                background: transparent;
                                color: $primary-color;
                                border: 1px solid #43d6c8;
                                box-shadow: none !important;
                                .modal-city-card-posted__btn-save-img {
                                    width: 18px;
                                    margin-right: 10px;
                                }
                                
                            }
                            .saved{
                                background: rgb(120,230,214) !important;
                                background: -moz-linear-gradient(left, rgb(120,230,214) 0%, rgb(41,202,204) 100%) !important;
                                background: -webkit-linear-gradient(left, rgb(120,230,214) 0%,rgb(41,202,204) 100%) !important;
                                background: linear-gradient(to right, rgb(120,230,214) 0%,rgb(41,202,204) 100%) !important;
                                color: $white !important;
                                box-shadow: none !important;
                                
                            }
                        }
                    }

                    .modal-city-posted__likes-container {
                        margin-bottom: 20px;
                        .modal-city-posted__likes-container-name {
                            .text-text {
                                a:hover {
                                    color: #29cacc;
                                }
                            }
                        }

                        .modal-city-posted__likes-container-circle-container {
                            margin-right: 10px;

                            .modal-city-posted__likes-container-circle-img {
                                width: 18px;
                                height: 18px;
                                overflow: hidden;
                                border-radius: 100%;
                                margin-left: -5px;
                                background-size: cover;
                                border: 2px solid #fff;

                                // Custom breakpoint: 1200px and 1050px
                                @include respond-between(breakpoint2, lg) {
                                    width: 24px;
                                    height: 24px;
                                }

                                &:first-child {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }

                // Right
                .modal-body__right {
                    &:hover{
                        &::-webkit-scrollbar-thumb {
                            background: #f2f2f2 !important;
                            &:hover {
                                background: #c2c2c2 !important;
                            }
                        }
                    }
                    
                    .modal-body__right-content {
                        padding-top: 10px;
                        .modal-body__right-items {
                            .modal-body__right-item {
                                .modal-city-card-posted__img-container {
                                    .modal-city-card-posted__img {
                                        width: 30px;
                                    }
                                }
                            }

                        }

                    }

                }
            }

            .modal-footer {
                display: none;
            }
        }
    }

    // *----- Visualize image *------ //
    &.modal-visualize-image {
        
        .modal-dialog {
            max-width: initial;
            margin-top: 0;
            margin-bottom: 0;
            height: 100%;

            .modal-content {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 0;
                background: rgba(255,255,255,0);
            }
            // .background-visualize-img{
            //     background: rgba(255,255,255,0);
            // }
            
        }

        .modal-header {

            // Mobile 
            @include respond-below(xs) {
                width: 100%;
                position: absolute;
                z-index: 1050;
            }
        }

        .modal-body {
            padding: 0px 25px 25px 25px !important;

            // Custom breakpoint: mobile to 1080px
            @include respond-below(breakpoint4) {
                padding-left: 0;
                padding-right: 0;
            }

            // Mobile 
            @include respond-below(xs) {
                padding: 0;
            }

            .modal-visualize-image__slider-container {
                width: 800px;

                // Custom breakpoint: mobile to 1080px
                @include respond-below(breakpoint4) {
                    width: 100%;
                }

                // Arrows
                .slick-prev,
                .slick-next {
                    &::before {
                        color: $primary-color;
                        font-size: 45px;
                        font-weight: $light;
                    }
                }

                .slick-prev {
                    left: -100px;
                    width: 45px;
                    height: 45px;
                }

                .slick-next {
                    right: -100px;
                    width: 45px;
                    height: 45px;
                    // transform: translate(-100%, 0);
                }

                // Dots
                .slick-dots {
                    bottom: -45px;

                    // Mobile 
                    @include respond-below(xs) {
                        bottom: 7px;
                    }

                    li {
                        &.slick-active {
                            button {
                                &::before {
                                    background: $primary-color;
                                    width: 11px;
                                    height: 11px;
                                    transform: scale(1) translate(2px, 2px);
                                }
                            }
                        }

                        button {
                            &::before {
                                transform: scale(0.6);
                                box-shadow: 0 0 0 1.5px inset $primary-color;
                            }
                        }
                    }
                }

                .slick-track {
                    display: flex;
                    align-items: center;
                    width: 800px;
                }

                .modal-visualize-image__slider-item {
                    outline: none;
                    width: 800px;

                    .modal-visualize-image__slider-item-img {
                        width: 100%;
                        height: 80vh;
                        background-size: contain;
                        background-position: center center;
                        background-repeat: no-repeat;

                        // Mobile 
                        @include respond-below(xs) {
                            max-width: 100%;
                            height: 100vh;
                        }
                    }
                }
            }
        }
    }

    // *----- Login and register *------ //
    &.modal-login_and_register {
        overflow-y: scroll;
        z-index:99999;

        @include respond-below(xs) {
            overflow-y: initial;
        }
        .modal-content {
            @include respond-below(xs) {
                overflow-y: scroll;

            }
            .modal-body {
                padding: 0 50px;
                @include respond-below(xs) {
                    padding: 0 30px;
                    overflow-y: initial;
                }

                // Logo
                .modal-login_and_register__logo-container {
                    margin-bottom: 30px;

                    .modal-login_and_register__logo {
                        width: 100px;
                        margin-bottom: 5px;
                    }

                    .modal-login_and_register__login-session-copy {
                        font-size: 11px;
                        font-weight: $bold;
                    }
                }

                // Social
                .modal-login_and_register__social-container {
                    .modal-login_and_register__social {
                        position: relative;
                        font-size: 14px;
                        a{
                            color: $white;
                        }
                        .modal-login_and_register__social-img {
                            width: 27px;
                            position: absolute;
                            left: 6px;
                            top: 50%;
                            transform: translate(0%, -50%);

                        }
                    }
                }
                
                .modal-login_and_register__divisor {
                    max-width: 395px;
                    margin: 25px 0;

                    //Mobile
                    @include respond-below(xs) {
                        max-width: 100%;
                    }
                }

            
                // Form
                .modal-login_and_register__inputs-container {
                    padding: 0 25px;
                    margin-bottom: 5px;
                    margin-top: -10px;
                    //Mobile
                    @include respond-below(xs) {
                        padding: 0 10px;
                    }
                    .modal-login_and_register__inputs-name-surname {
                        display: flex;
                        justify-content: space-between;
                        .modal-login_and_register__inputs {
                            width: 47% !important;
                            &:focus {
                                border-bottom: 1px solid $primary-color;
                                transition: 1s;
                            }
                     }
                    }
                    .modal-login_and_register_pass-input {
                           font-size: 20px !important;
                           &::placeholder { 
                               font-size:14px !important;
                           }
                           &:focus {
                            border-bottom: 1px solid $primary-color;
                            transition: 1s;
                        }
                    }

                    .modal-login_and_register__inputs {
                        margin-bottom: 10px;
                        font-size: 14px;
                        line-height: 40px;
                        padding-left: 10px;

                        &::placeholder {
                            color: $text-secondary;
                        }
                        &:focus {
                            border-bottom: 1px solid $primary-color;
                            transition: 1s;
                        }
                        
                    }

                    .modal-login_and_register__select-container {
                        margin-bottom: 15px;

                        @include respond-below(xs) {
                            justify-content: center !important;
                            align-items: center !important;
                            flex-direction: column !important;
                            margin-bottom: 15px;
                            margin-top: 10px;
                        }

                        .modal-login_and_register__select {
                            position: relative;
                            @include respond-below(xs) {
                                margin-bottom: 10px;
                                
                            }
                            .modal-login_and_register__select-text {
                                font-size: 12px;
                                color: $text-secondary;
                                margin-top: -2px;
                            }
                        }

                        .modal-login_and_register__forgot-password {
                            .modal-login_and_register__forgot-password-text {
                                font-size: 12px;
                                color: $primary-color;
                            }
                        }
                    }
                }
            }

            .modal-footer {
                padding-left: 0;
                padding-right: 0;
                padding: 0 !important; 

                hr {
                    margin-right: 0;
                }
                .modal-login_and_register__footer-copy {
                    font-size: 13px;
                    font-weight: $semi-bold;
                    margin-bottom: 1rem;

                    .modal-login_and_register__footer-cta {
                        color: $primary-color;
                    }
                }
            }
        }
    }
 // *----- Account Created *------ //
    &.modal-account-created {
        .modal-dialog {
            max-width: 500px;

            //Mobile
            @include respond-below(xs) {
                max-width: 100%;
            }

            .modal-body {

                .modal-account-created__logo {
                    max-width: 120px;
                    margin-bottom: 30px;
                }

                .modal-account-created__title {
                    font-weight: $font-black;
                }

                .modal-account-created__copy {
                    line-height: 20px;
                    margin-bottom: 25px;
                }

                .modal-account-created__logo-box {
                    margin-bottom: 10px;
                }

                .modal-account-created__logo-box-img {
                    width: 44px;
                    margin-right: 30px;
                }

                .modal-account-created__logo-link {
                    &:last-child {
                        img {
                            margin-right: 0;
                        }
                    }

                }

                .modal-account-created__btn-box {
                    width: 196px;

                    @include respond-below(xs) {
                        display: none;
                    }
                }

               

            }

            .modal-footer {
                .btn-xlg {
                    @include respond-below(xs) {
                        padding-top: 13px;
                        padding-bottom: 13px;
                        font-size: 16px;

                    }
                }
            }
            
        }

    }
 // *----- Forgot Password *------ //

    &.modal-forgot-password {

        .modal-dialog {
            max-width: 567px;

            //Mobile
            @include respond-below(xs) {
                max-width: 100%;
            }

            .modal-body {

                .modal-forgot-password__logo {
                    max-width: 100px;
                    margin-bottom: 35px;
                }
    
                .modal-forgot-password__box {
                    max-width: 378px;
                }
    
                .modal-forgot-password__box-title {
                    font-size: 20px;
                    color: $primary-color;
                    font-weight: $semi-bold;
                    margin-bottom: 5px;
                }
                .modal-forgot-password__box-copy {
                    font-size: 14px;
                }
    
                .modal-forgot-password__box-copy-strong {
                    font-weight: $semi-bold;
                    color: $black;
                }

            }
            
            .modal-footer {
                .btn-xlg {
                    @include respond-below(xs) {
                        padding-top: 13px;
                        padding-bottom: 13px;
                        font-size: 16px;

                    }
                }
            }

        }
    }

    // *----- Email Sent *------ //
    &.modal-email-sent {

        .modal-dialog {
            max-width: 567px;

            @include respond-below(xs) {
                max-width: 100%;
            }

            .modal-header__arrow {
                width: 8px;
            }

            .modal-body {

                .modal-email-sent__logo {
                    max-width: 100px;
                    margin-bottom: 42px;
                }
    
                .modal-email-sent__box {
                    max-width: 410px;
                }
    
                .modal-email-sent__box-title {
                    font-size: 20px;
                    color: $primary-color;
                    font-weight: $semi-bold;
                }
                .modal-email-sent__box-copy {
                    font-size: 14px;
                    line-height: 18px;
                }
    
    
                .input--full {
                    &::placeholder {
                        color: $text;
                    }
                }
            }

            .modal-footer {
                .btn-xlg {
                    @include respond-below(xs) {
                        padding-top: 13px;
                        padding-bottom: 13px;
                        font-size: 16px;

                    }
                }
            }

        }
    }

    // *----- Validate forgot Password *------ //

    &.modal-validate-forgot-password {
        background: $lightgrey;
        .modal-dialog {
            max-width: 567px;

            //Mobile
            @include respond-below(xs) {
                max-width: 100%;
            }
            .modal-content{
                box-shadow: none;
                .modal-body {

                    .modal-forgot-password__logo {
                        max-width: 100px;
                        margin-bottom: 35px;
                    }
        
                    .modal-forgot-password__box {
                        max-width: 378px;
                    }
        
                    .modal-forgot-password__box-title {
                        font-size: 20px;
                        color: $primary-color;
                        font-weight: $semi-bold;
                        margin-bottom: 5px;
                    }
                    .modal-forgot-password__box-copy {
                        font-size: 14px;
                    }
        
                    .modal-forgot-password__box-copy-strong {
                        font-weight: $semi-bold;
                        color: $black;
                    }
                    .modal-password__input {
                        padding-bottom: 10px;
                        padding-left: 10px;
               
                        &::placeholder {
                            color: $text;
                            font-weight: $light;
                            font-size: 16px;
               
                        }
                    }

                }
                
                .modal-footer {
                    .btn-xlg {
                        @include respond-below(xs) {
                            padding-top: 13px;
                            padding-bottom: 13px;
                            font-size: 16px;

                        }
                    }
                }
            }

        }
    }
 
     // *----- Reset Password *------ //
     &.modal-reset-password {
        background: $lightgrey;
        .modal-dialog {
            max-width: 567px;
            //mobile
            @include respond-below(xs) {
                max-width: 100%;
            }
            .modal-content{
                box-shadow: none;
                .modal-body {

                    .modal-reset-password__logo {
                        max-width: 100px;
                        margin-bottom: 42px;
                    }
        
                    .modal-reset-password__box {
                        max-width: 398px;
                    }
        
                    .modal-reset-password__box-title {
                        font-size: 20px;
                        color: $primary-color;
                        font-weight: $semi-bold;
                    }
                    .modal-reset-password__box-copy {
                        font-size: 14px;
                        color: $text-secondary;
                        line-height: 18px;
                    }
        
                    .modal-reset-password__box-copy-span {
                        font-size: 12px;
                        color: $text;
                    }
        
        
                    .modal-reset-password__box-copy-strong {
                        font-weight: $semi-bold;
                        color: $black;
                    }

                    .modal-password__input {
                        padding-bottom: 10px;
                        padding-left: 10px;
                        font-size: 20px;
               
                        &::placeholder {
                            color: $text;
                            font-weight: $light;
                            font-size: 16px;
                           
               
                        }
                    }
                        
        
                    
                }

                .modal-footer {
                    .btn-xlg {
                        @include respond-below(xs) {
                            padding-top: 13px;
                            padding-bottom: 13px;
                            font-size: 16px;

                        }
                    }
                }
            }
        }  
     }

     // *----- New Password*------ //
     &.modal-new-password {
        background: $lightgrey;
        .modal-dialog {
            max-width: 500px;
            //Mobile
            @include respond-below(xs) {
                max-width: 100%;
            }
            .modal-content{
                box-shadow: none;
                .modal-body {
                    .modal-new-password__logo {
                        max-width: 100px !important;
                        margin-bottom: 42px;
                        margin-top: 30px;

                        @include respond-below(xs) {
                            margin-top: 60px;
                        }
                    }

                    .modal-new-password__box {
                        max-width: 378px;
                    }

                    .modal-new-password__box-title {
                        font-size: 20px;
                        color: $primary-color;
                        font-weight: $semi-bold;
                    }

                    .modal-new-password__box-copy {
                        font-size: 13px;
                        @include respond-below(xs) {
                            font-size: 16px;
                        }
                    }

                    .modal-new-password__box-copy-strong {
                        font-weight: $semi-bold;
                        color: $black;
                        @include respond-below(xs) {
                            font-size: 16px;
                        }
                    }

                    .modal__footer-btn {
                        @include respond-above(xs) {
                            padding: 6px 50px 8px;
                        }

                    }
                }

                .modal-footer {
                    .btn-xlg {
                        @include respond-below(xs) {
                            padding-top: 13px;
                            padding-bottom: 13px;
                            font-size: 16px;

                        }
                    }
                }

            }
        }
    }


     //Global Classes//

    .modal-password__input {
         padding-bottom: 10px;
         padding-left: 10px;

         &::placeholder {
             color: $text;
             font-weight: $light;
             font-size: 16px;

         }
     }

        .modal-password__input-bold {
            padding-bottom: 10px;
            padding-left: 10px;

            &::placeholder {
                color: $black;
                font-weight: $bold;
            }
        }

     

    // *----- User data *------ //
    &.modal-user_data {
        .modal-content {
            min-height: 506px;

            // Mobile
            @include respond-below(xs) {
                height: 100%;
            }
        }

        // Main content
        .modal-user_data__main-content {
            .modal-body {
                padding: 10px 40px;

                // Mobile
                @include respond-below(xs) {
                    padding: 30px;
                }

                // Title
                .modal-user_data__title {
                    font-size: 20px;
                    margin-bottom: 30px;
                    font-weight: $semi-bold;

                    // Mobile
                    @include respond-below(xs) {
                        margin-bottom: 50px;
                        font-size: 22px;
                    }
                }
    
                .modal-user_data__container {
                    padding: 0 30px;

                    // Mobile
                    @include respond-below(xs) {
                        padding: 0;
                    }
                    .modal__input-group{
                        .modal-user_data__input-title{
                            input{
                                font-size: 16px;
                                &::placeholder{
                                    font-size: 16px !important;
                                }
                            }
                        }
                    }

                    // Private account
                    .private_account_container{

                        .private_account_toggle{
                            display: flex ;
                            justify-content: space-between;
                            align-items: center;
                        

                            input[type=checkbox]{

                                height: 0;
                                width: 0;
                                visibility: hidden;
                            }
                            
                            label {
                                cursor: pointer;
                                text-indent: -9999px;
                                width: 50px;
                                height: 26px;
                                background: grey;
                                display: block;
                                border-radius: 100px;
                                position: relative;
                            }
                            
                            label:after {
                                content: '';
                                position: absolute;
                                top: 2px;
                                left: 2px;
                                width: 22px;
                                height: 22px;
                                background: #fff;
                                border-radius: 90px;
                                transition: 0.3s;
                            }
                            
                            input:checked + label {
                                background: $primary-color;
                            }
                            
                            input:checked + label:after {
                                left: calc(100% - 2px);
                                transform: translateX(-100%);
                            }
                            
                            label:active:after {
                                width: 30px;
                            }
                            
                            // centering
                            body {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100vh;
                            }


                        }
                        p{
                            font-size: 13px;
                            display: flex;
                        }
                    }
                }

                

                // City info
                .modal-user_data__city-info {
                    .modal-user_data__select-city {
                        width: 100%;

                        // City selected
                        &--state-selected {
                            color: $primary-color;
                        }
    
                        .modal-user_data__dropdown {
                            margin-bottom: 20px;

                            &.modal-user_data__dropdown-country {
                                width: 85%;

                                // Mobile
                                @include respond-below(xs) {
                                    width: 100%;
                                }
                            }

                            &.modal-user_data__dropdown-age {
                                width: 55%;

                                // Mobile
                                @include respond-below(xs) {
                                    width: 100%;
                                }
                            }

                            .modal-user_data__dropdown-menu {
                                background-color: $grey;

                                .modal-user_data__dropdown-item {
                                    cursor: pointer;
                                    font-size: 14px;
                                    font-weight: $semi-bold;
                                    padding: 0.4rem 1.4rem;
                                    
                                    // Hover
                                    &:hover {
                                        color: $primary-color;
                                    }

                                    // Active
                                    &:active {
                                        background-color: transparent;
                                    }
                                }
                            }

                            .btn--color-grey {
                                font-weight: $bold;
                            }

                           

                            // Show
                            &.show {
                                .modal-user_data__button {
                                    border-radius: 20px 20px 0 0;
                                   
                                }
                                .modal-user_data__dropdown-menu {
                                    width: 100%;
                                    height: 230px;
                                    overflow-y: scroll;
                                    top: -5px !important;
                                    padding-top: 20px;

                                }
                            }
                        }

                        .country-select-btn {
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
            }
            // .modal-footer {
            //     padding: 1rem;
            //     padding-bottom: 22px;

            //     // .btn-highlight {
            //     //     @include respond-below(xs) {
            //     //         padding-top: 13px;
            //     //         padding-bottom: 13px;
            //     //         // font-size: 16px;

            //     //     }
            //     // }
            // }
        }

        // Search city
        .modal-user_data__search-city {
            .modal-body {
                // Title
                .modal-user_data__search-title {
                    .input {
                        border-radius: 0;
                    }
                }

                // Content
                .modal-user_data__search-city-content {
                    .modal-user_data__search-city-city-list {
                        .modal-user_data__search-city-item {
                            padding: 7px 20px;

                            // Hover
                            &:hover {
                                background-color: rgba($grey, .7);
                            }

                            .modal-user_data__location-error__circle {
                                width: 38px;
                                height: 38px;
                                margin-right: 15px;
                                margin-bottom: 0;

                                .modal-user_data__location-error-img {
                                    width: 35%;
                                }
                            }

                            .modal-user_data__search-city-name {
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
    }

    // *----- Select theme interest *------ //
    &.modal-select_theme_interest {
        .modal-header {
            .modal-select_theme_interest__content {
                .modal-select_theme_interest__title {
                    font-weight: $semi-bold;
                    margin-right: 8px;
                }
                .modal-select_theme_interest__copy {
                    font-size: 13px;
                    color: $text;
                }
            }
        }

        .modal-body {
            padding: 30px 50px 10px;
            @include respond-below(sm) {
                padding: 30px 0 10px 30px;
            }

            .modal-select-theme__theme-container {
                .modal-select-theme__theme {
                    position: relative;

                    .modal-select_theme_interest__checkbox-container {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: -25px;
                        margin-right: 10px;
                        z-index: 3;
                        @include respond-below(sm) {
                            left: -20px;
                        }
                        @include respond-below(xs) {
                            left: -25px;
                        }

                        // Original Checkbox
                        .modal-select_theme_interest__checkbox {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            opacity: 0;
                            z-index: 3;

                            // When original is checked, affects custom checkbox (sibling)
                            &:checked {
                                &~ .modal-select_theme_interest__checkbox-custom {
                                    display: flex;
                                }
                            }
                        }

                        // Custom checkbox
                        .modal-select_theme_interest__checkbox-custom {
                            display: none;
                            width: 20px;
                            height: 20px;
                            border-radius: 100%;
                            background-color: $primary-color;
                            margin-bottom: 0;
                            align-items: center;
                            justify-content: center;

                            // Tick
                            &:after{
                                content: '';
                                display: block;
                                width: 4px;
                                height: 8px;
                                border: solid $white;
                                border-width: 0 2px 2px 0;
                                transform: rotate(45deg);
                                margin-bottom: 1px;
                            }
                        }
                    }

                    .modal-select_theme_interest__text {
                        font-size: 13px;
                    }
                }
            }
        }

    //     .modal-footer {
    //           .btn-highlight {
    //             //   @include respond-below(xs) {
    //             //       padding-top: 13px;
    //             //       padding-bottom: 13px;
    //             //     //   font-size: 16px;

    //             //   }
    //     }
    // }
    }
    // *----- Terms and Conditions *------ //
    &.modal-terms-and-conditions {
        overflow-y: hidden;
        z-index: 10000;
        background: $lightgrey;
        .modal-content {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow: none;
        }
        .modal-dialog {
            max-width: 90%;
            height: 100%;
            @include respond-below(sm) {
                max-width: 100%;
            }

            .modal-body {
                height: 91vh;
                padding-bottom: 0;

                .modal-terms-and-conditions__title {
                    margin-bottom: 55px;
                    color: $primary-color;
                    font-size: 20px;
                    font-weight: $bold;

                        //Tablet
                        @include respond-below(md) {
                            font-size: 16px;
                        }
                        //Mobile
                        @include respond-below(xs) {
                            font-size: 20px;
                            margin-bottom: 30px;
                        }
                    }

                    .modal-terms-and-conditions__wrapper-left {
                        width: 33.33%;
                        padding: 0 100px 0 25px;


                        // Mobile
                        @include respond-below(xs) {
                            display: none !important;
                        }

                        .modal-terms-and-conditions__links {
                            padding: 0 20px;

                            //Tablet
                            @include respond-below(md) {
                            padding: 0;
                            }

                            //Mobile
                            @include respond-below(xs) {
                                display: none;
                            }
                        }

                        .modal-terms-and-conditions__items {
                            color: $black;
                            font-size: 16px;
                            margin-bottom: 25px;
                            font-weight: 500;

                            &:hover {
                                color: $primary-color;
                            }

                            &.active {
                                color: $primary-color;
                                font-weight: $bold;
                            }

                        }
                    }

                     .modal-terms-and-conditions__wrapper-right {
                         width: 66.66%;
                         padding: 0 100px 0 25px;
                         height: 100%;
                         overflow-y: scroll;
                         margin-top: 40px;

                         // Custom breakpoint: 1200px and 1025px
                         @include respond-between(breakpoint2, lg) {
                            //  width: 58.3%;
                         }

                         // Mobile
                         @include respond-below(xs) {
                             width: 100%;
                             padding: 0 15px;
                             margin-top: 0px;
                             padding-top: 40px;
                            
                         }

                         .modal-terms-and-conditions__copy-title {
                             font-weight: $bold;
                             font-size: 20px;
                         }

                         .modal-terms-and-conditions__copy {
                             font-size: 16px;
                             color: $black;
                             overflow-y: scroll;
                             &:last-child {
                                 padding-bottom: 100px;
                             }

                            @include respond-below(sm) {
                                 font-size: 14px;
                            }
                         }
                         ul li{
                             font-size: 16px;
                             padding-left: 20px;
                             margin-bottom: 20px;

                             @include respond-below(sm) {
                                font-size: 14px;
                                padding-left: 0px;
                           }
                         }
                     }
                }
               
            }
        }

    &.modal-message-sent {
        .modal-dialog {
            max-width: 500px;

            //Mobile
            @include respond-below(xs) {
                max-width: 100%;
            }
            .modal-content{

                .modal-body {
                    .modal-message-sent__title {
                        font-weight: $font-black;
                        font-size: 30px;
                        margin-bottom: 20px;
                    }
                } 
                .modal-footer {
                    .btn-xlg {
                        padding: 8px 60px;

                        @include respond-below(xs) {
                            padding-top: 13px;
                            padding-bottom: 13px;
                            font-size: 16px;

                        }
                    }
                }
            }
        }
    }    
}
    
    // *----- Select theme log in *------ //
    .modal-select-theme {
        .modal-body {
            .modal-select-theme__theme-container {
                padding-left: 30px;      
                
            }
        }
    }
    .modal-header {

        .modal__subtitle {
            font-size: 14px;
             color: #b3b3b3;
             padding-left: 0px;
             padding-top: 0px;
          }
    }

.cookies-container{
    // display: none;
    z-index: 900;
    
     .cookies{
        background: $primary-color;
        padding: 20px 30px 20px 35px;
        position: fixed;
        border-radius: 40px;
        bottom: -60px;
        @include respond-below(sm) {
            flex-direction: column;
            width: 100%;
            border-radius: 0px;
            padding: 20px 30px 30px 35px;
        }
        .cookies-text{
            width: 100%;
            
            @include respond-below(sm) {
                margin-bottom: 20px;
            }
            h6{
                font-size: 14px;
                color: $white;
                width: 450px;
                margin-right: 20px;
                margin-bottom: 0 !important;
                @include respond-below(sm) {
                    width: 100%;
                }
              }
        }
          
        .cookies-close{
          
          @include respond-below(sm) {
              width: 100%;
          }
        }
      }
  }
   
// COOKIES ANIMATION
$duration: 2s;

.show-cookies {
  animation: show-cookie $duration ease 1;
  animation-fill-mode: forwards;
}

@keyframes show-cookie {
  0% { transform: translateY(100px); }
  100% { transform: translateY(-100px); }
}

.hide-cookies {
    animation: hide-cookie $duration ease 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes hide-cookie {
    0% { transform: translateY(-100px); }
    100% { transform: translateY(100px); }
  }


@media only screen and (max-width: 1100px) {
    $duration: 2s;

    .show-cookies {
    animation: show-cookie $duration ease 1;
    animation-fill-mode: forwards;
    }

    @keyframes show-cookie {
    0% { transform: translateY(100px); }
    100% { transform: translateY(-50px); }
    }

    .hide-cookies {
        animation: hide-cookie $duration ease 1;
        animation-fill-mode: forwards;
      }
      
      @keyframes hide-cookie {
        0% { transform: translateY(-50px); }
        100% { transform: translateY(100px); }
      }
}

