body {
	background: #fff;
	color: #333;
    width: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a:hover {
	text-decoration: none;
}

a, a > *, button, span, :before, :after, .filtro-boton {
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

body, h1, h2, h3, h4, h5, h6, p, strong, em, span, li, dd, dt {
	font-family: acumin-pro, sans-serif;
}

.m-b-0 {margin-bottom:  !important;}
.m-b-10 {margin-bottom: 10px !important;}
.m-b-20 {margin-bottom: 20px !important;}
.m-b-30 {margin-bottom: 30px !important;}
.m-b-40 {margin-bottom: 40px !important;}
.m-b-50 {margin-bottom: 50px !important;}
.m-b-60 {margin-bottom: 60px !important;}
.m-b-70 {margin-bottom: 70px !important;}
.m-b-80 {margin-bottom: 80px !important;}
.m-b-90 {margin-bottom: 90px !important;}
.m-b-100 {margin-bottom: 100px !important;}

.m-t-0 {margin-top: 0 !important;}
.m-t-10 {margin-top: 10px !important;}
.m-t-20 {margin-top: 20px !important;}
.m-t-30 {margin-top: 30px !important;}
.m-t-40 {margin-top: 40px !important;}
.m-t-50 {margin-top: 50px !important;}
.m-t-60 {margin-top: 60px !important;}
.m-t-70 {margin-top: 70px !important;}
.m-t-80 {margin-top: 80px !important;}
.m-t-90 {margin-top: 90px !important;}
.m-t-100 {margin-top: 100px !important;}

.p-b-0 {padding-bottom: 0 !important;}
.p-b-10 {padding-bottom: 10px !important;}
.p-b-20 {padding-bottom: 20px !important;}
.p-b-30 {padding-bottom: 30px !important;}
.p-b-40 {padding-bottom: 40px !important;}
.p-b-50 {padding-bottom: 50px !important;}
.p-b-60 {padding-bottom: 60px !important;}
.p-b-70 {padding-bottom: 70px !important;}
.p-b-80 {padding-bottom: 80px !important;}
.p-b-90 {padding-bottom: 90px !important;}
.p-b-100 {padding-bottom: 100px !important;}

.p-t-0 {padding-top: 0 !important;}
.p-t-10 {padding-top: 10px !important;}
.p-t-20 {padding-top: 20px !important;}
.p-t-30 {padding-top: 30px !important;}
.p-t-40 {padding-top: 40px !important;}
.p-t-50 {padding-top: 50px !important;}
.p-t-60 {padding-top: 60px !important;}
.p-t-70 {padding-top: 70px !important;}
.p-t-80 {padding-top: 80px !important;}
.p-t-90 {padding-top: 90px !important;}
.p-t-100 {padding-top: 100px !important;}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 10px;
    padding-left: 10px;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

/*Home Header*/

.header-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    background: #fff;
}

.logo-header img {
    height: 50px;
    display: block;
}

.header-nav {
    margin: 0 -15px 0 ;
}

.header-nav ul li {
    display: inline-flex;
    margin: 0 15px;
}

.header-nav ul li a {
    font-weight: 600;
    color: #4d4d4d;
    font-size: 16px;
}

.header-nav ul li:not(.btn-recomendar) a:hover,
.header-nav ul li:not(.btn-inicio-sesion) a:hover  {
    opacity: .75
}

.header-nav ul li.btn-recomendar a,
.header-nav ul li.btn-inicio-sesion a,
.header-nav ul li.btn-inicio-sesion a:hover,
.nav-responsive ul li.btn-recomendar a  {
    color: #fff;
    padding: 7px 25px;
    border-radius: 20px;
    background: rgb(120,230,214);
    background: -moz-linear-gradient(left, rgb(120,230,214) 0%, rgb(41,202,204) 100%);
    background: -webkit-linear-gradient(left, rgb(120,230,214) 0%,rgb(41,202,204) 100%);
    background: linear-gradient(to right, rgb(120,230,214) 0%,rgb(41,202,204) 100%);
}

.header-nav ul li.btn-recomendar a:hover {
    background: -moz-linear-gradient(left, rgb(67, 214, 200) 0%, rgb(41, 175, 162) 100%);
    background: -webkit-linear-gradient(left, rgb(67, 214, 200) 0%,rgb(41, 175, 162) 100%);
    background: linear-gradient(to right, rgb(67, 214, 200) 0%,rgb(41, 175, 162) 100%);
}


.header-nav ul li.btn-inicio-sesion a {
    background: #fff;
    color: #43d6c8;
    border: 1px solid #43d6c8;
}

section.header-home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 160px 0 60px ;
    text-align: center;
}

section.header-home h1 {
    color: #4d4d4d;
    font-weight: 800;
    font-size: 40px;
}

section.header-home p {
    color: #b3b3b3;
    font-size: 20px;
    font-weight: 300;
}

/*Header scroll */

.header-scroll {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
}

.header-nav-container.header-scroll .logo-header img {
    height: 35px;
}

.header-nav-container.header-scroll .header-nav ul li a {
    font-size: 15px;
}

.header-nav-container.header-scroll .header-nav ul li.btn-recomendar a, 
.header-nav-container.header-scroll .header-nav ul li.btn-inicio-sesion a {
    padding: 5px 20px;
}


/*buscador*/

.search {
    position: relative;
    width: 640px;
    align-self: center;
}

.typeahead, .tt-query, .tt-hint {
    border-bottom: 1px solid #e6e6e6;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    text-align: center;
    font-size: 28px;
    padding: 1.3em 1.3rem;    
    font-weight: 300;    
    width: 100%;
    height: calc(2.25rem + 2px);
    text-align: left;
}

span.twitter-typeahead {
    width: 100%;
}

.search input::placeholder {
    color: #cccccc;
}

.search input:focus {
    border-color: #e6e6e6;
    outline: none;
    box-shadow: 0 12px 25px 0 rgba(29,49,68,0.1);
}

.tt-hint {
    color: #cccccc;
}

.search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 74px;
    border: none;
    background: transparent;
}

.search button svg {
    height: 20px;
    top: 28px;
    right: 24px;
    fill: #989898;
}

.tt-menu {
    width: 100%;
    border-radius: 0;
    border: none;
    margin-top: 0;
    box-shadow: 0 12px 25px 0 rgba(29,49,68,0.1);
    padding: 0;
    background: #fff;
}

.tt-suggestion {
    border-bottom: 1px solid #e6e6e6;
    padding: 20px;  
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;  
    /*width: calc(100% - 40px);*/
    /*margin: 0 auto;*/
}

.tt-suggestion a:last-child {
     border-bottom: none
}

.search-title img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-size: cover;
    background-position: center;
    border: 1px solid #e5e5e5;
    margin-right: 15px;
}

.search-title h4 {
    font-size: 16px;
    margin: 0;
    display: inline-block;
}

.tt-suggestion small {
    font-weight: 300;
    color: #808080;
    font-size: 14px;
}

.tt-suggestion:hover {
    cursor: pointer;
    background-color: #eef0f0;
}

h3.league-name {
    padding: 10px 20px;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    background-color: #f8f9f9;
    margin: 0;
}

/*Home Header Responsive*/

.nav-mobile, .toggle-menu {
    display: none;
}

.nav-mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    background: #fff;
}

.burger span {
    margin: 5px 0;
    background: #43d6c8;
    height: 2px;
    width: 24px;
    display: block;
    border-radius: 2px;
}

.close-nav .burger span:nth-child(2) {
    height: 0;
}

.close-nav .burger span:first-child {
    -webkit-transform: rotate(45deg) translateY(235%);
    -ms-transform: rotate(45deg) translateY(235%);
    -o-transform: rotate(45deg) translateY(235%);
    transform: rotate(45deg) translateY(235%);
}

.close-nav .burger span:last-child {
    -webkit-transform: rotate(-45deg) translateY(-235%);
    -ms-transform: rotate(-45deg) translateY(-235%);
    -o-transform: rotate(-45deg) translateY(-235%);
    transform: rotate(-45deg) translateY(-235%);
}

.search-responsive svg {
    height: 22px;
    display: block;
    fill: #43d6c8;
}

.no-scroll {
    overflow-y: hidden;
    position: fixed 
}

.toggle-menu {    
    position: fixed;
    top: 65px;
    left: 0;
    z-index: 1;
    background: #fff;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.nav-responsive {
    display: flex;
    flex-direction: column;
    height: calc(100% - 65px);
}

.nav-responsive ul {    
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.nav-responsive ul li a {
    font-weight: 600;
    color: #4d4d4d;
    font-size: 16px;
}

.nav-responsive ul li:first-child a {
    color: #fff;
}

.nav-responsive ul li {
    margin: 15px 0;
}

.nav-responsive .btn-inicio-sesion, .nav-responsive .btn-registrarse {
    height: 58px;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; 
    background: #43d6c8; 
}

.nav-responsive .btn-registrarse {
    color: #43d6c8; 
    background: #fff; 
}

.nav-responsive li.language a, .nav-responsive li.language {
    color: #b3b3b3;
    font-weight: 300;
}


/*Cards User City*/

.city-card, .user-card {
    margin: 10px 0;
    box-shadow: 0 12px 25px 0 rgba(29,49,68,0.08);
    border-radius: 5px;
    background: #fff;
    padding: 12px;
    width: 230px;
}

.city-img {
	height: 156px;
    background-position: center center;
    background-size: cover;
    position: relative;
    margin: -12px -12px 0 -12px;
    display: block;
    border-radius: 5px 5px 0 0;
}

.city-img:before {
    background-color: #191919;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;    
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px 5px 0 0;
}

.city-img:hover:before {
    opacity: .3;
}

.city-card .city-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.city-card h3 {
	font-size: 15px;
	font-weight: 700;
	line-height: 16px;
	margin: 0;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 170px;
}

.city-card h3 small {
	font-size: 12px;
	font-weight: 300;
	color: #b3b3b3;
}

.city-card a h3:hover {
    opacity: .75
}

.likes, .likes-marked {
	display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.likes svg, .likes-marked svg {
    max-height: 100%;
    width: 18px;
    stroke: #43d6c8;
    stroke-width: 4;
    fill: none;      
}

.likes-marked svg {
    fill: #43d6c8;  
}

.likes svg:hover {
    fill: #43d6c8;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}

.user-title {
    display: flex;
    line-height: 16px;
    margin: 12px 0;
}

.content-title {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 12px;
}

.user-title h2 {
	font-size: 13px;
	color: #000;
	font-weight: 600;
	margin: 0;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 155px;
}

.user-title a:hover h2 {
    text-decoration: underline;
}

.user-title span {
	font-size: 12px;
	color: #000;
	font-weight: 300;
}

.user-title em {
	font-size: 12px;
	color: #b3b3b3;
	font-weight: 300;
	font-style: normal;
}

.user-img  {
	border-radius: 50%;
    height: 30px;
    width: 30px;
    background-size: cover;
    background-position: center;
    border: 1px solid #e5e5e5;
}

.user-card .user-title {
	flex-direction: column;
    justify-content: center;
    text-align: center;
}


.city-card .user-title {
    height: 30px;
    align-items: center;
}

.user-card a {
    align-self: center;
}

.user-card .user-img  {	
    height: 110px;
    width: 110px;    
    margin: 6px 0 12px;
}


ul.user-recommendations {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

ul.user-recommendations li:first-child {
    font-size: 13px;
    font-weight: 600;
    color: #000;
}

ul.user-recommendations li:last-child {
    font-size: 12px;
    color: #b3b3b3;
}

ul.categories  {
	align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 5px;
}

ul.categories li:last-child {
    font-size: 16px;
    font-weight: 700;
    color: #cccccc;
    margin-top: 2px
}

ul.categories li {
    height: 18px;
    width: 18px;
}

ul.categories li img {
    height: 18px;
    max-width: 18px;
}

.user-content {
    text-align: center;
}

.user-content span {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 300;
}

.user-content ul.categories {
    margin: 0 16px;
}

ul.user-stats {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    line-height: 16px;
    color: #b3b3b3;
    margin: 12px 0 0;
    font-weight: 300;
}

ul.user-stats li span {
    font-weight: 800;
    color: #43d6c8;
}

ul.user-stats li:nth-child(2) {
    content: '';
    width: 1px;
    height: 24px;
    margin: 6px 0;
    background: rgba(179, 180, 180, .3);
    display: block;
}

.user-card .user-title {
    line-height: 16px;
}

.user-card .user-title span {
    font-size: 13px;    
}

.user-card .user-title em {
    font-size: 14px;
}

/*Tabs home*/

.tab-minimal li {
    display: inline-block;
    margin-right: 20px;    
}

.tab-minimal li a {
    color: #cccccc;
    font-size: 16px;
    font-weight: 400;
}

.tab-minimal .current a {
    font-weight: 700; 
    color: #43d6c8;
}

/*Friends Dropdown*/

.friends-dropdown {
    position: relative;
}

.friends-dropdown-content {
    display: none;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
    padding: 10px 15px;
    position: absolute;
    z-index: 15;
    top: 25px;
}

.friends-dropdown-content:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: -6px;
    left: 7px;
}

.friends-dropdown-content ul li p {
    text-align: center;
    font-weight: 300;
    color: #b3b3b3;
    font-size: 13px;
    margin: 0 0 5px 0;
}

.friends-dropdown:hover .friends-dropdown-content {display: block;}

.friends-dropdown-content .user-title {
    height: 30px;
    align-items: center;
    flex-direction: unset;
    text-align: left;
}
.friends-dropdown-content .user-img {
    height: 30px;
    width: 30px;
}

.user-card .friends-dropdown-content {
    left: 45px
}

.friends-dropdown-content .user-img {
    margin: 0
}


/*Footer*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
    padding: 3px;
}

footer ul {
    margin: -2px 0 0 0;
}

footer ul li {
    display: inline-block;
    color: #b3b3b3;
    position: relative;
    margin: 0 8px;
}

footer ul li:before {
    content: '';
    background: #e6e6e6;
    width: 1px;
    height: 16px;
    display: block;
    top: 4px;
    right: -11px;
    border-radius: 10px;
    position: absolute; 
}

footer ul li:last-child:before {
    content: none;
}

footer ul li a {
    font-size: 12px;
    color: #b3b3b3;
}

footer ul li a:hover {
    color: #4d4d4d;
}

footer ul li.language a {
    margin: 0;
}

footer ul li.language a.current, .nav-responsive li.language a.current {
    font-weight: 600;
    color: #43d6c8
} 

