body {
    position: relative;
    background: #fff;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    /*min-height: 100vh;*/
    flex-direction: column;

    &.modal-open {
        padding-right: 0 !important;
    }
}

body, h1, h2, h3, h4, h5, h6, p, strong, em, span, li, dd, dt {
    font-family: acumin-pro, sans-serif;
}
p, h6{
    line-height: 1.3 !important;
}

a {
    cursor: pointer;
}

a:hover {
	text-decoration: none;
}

a, a > *, button, span, :before, :after, .city-img, .city-img:before {
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a[href="https://www.000webhost.com/?utm_source=000webhostapp&utm_campaign=000_logo&utm_medium=website&utm_content=footer_img"] {
   display: none !important;
}

a:focus, button:focus, input:focus {
    outline: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

// input{
// 	resize: none;
// }

/*----- CUSTOM MODIFICATIONS -----*/
.m-b-0 {margin-bottom: 0 !important;}
.m-b-10 {margin-bottom: 10px !important;}
.m-b-20 {margin-bottom: 20px !important;}
.m-b-30 {margin-bottom: 30px !important;}
.m-b-40 {margin-bottom: 40px !important;}
.m-b-50 {margin-bottom: 50px !important;}
.m-b-60 {margin-bottom: 60px !important;}
.m-b-70 {margin-bottom: 70px !important;}
.m-b-80 {margin-bottom: 80px !important;}
.m-b-90 {margin-bottom: 90px !important;}
.m-b-100 {margin-bottom: 100px !important;}

.m-t-0 {margin-top: 0 !important;}
.m-t-10 {margin-top: 10px !important;}
.m-t-20 {margin-top: 20px !important;}
.m-t-30 {margin-top: 30px !important;}
.m-t-40 {margin-top: 40px !important;}
.m-t-50 {margin-top: 50px !important;}
.m-t-60 {margin-top: 60px !important;}
.m-t-70 {margin-top: 70px !important;}
.m-t-80 {margin-top: 80px !important;}
.m-t-90 {margin-top: 90px !important;}
.m-t-100 {margin-top: 100px !important;}

.m-r-0 { margin-right: 0 !important; }
.m-r-10 {margin-right: 10px !important; }
.m-r-20 {margin-right: 20px !important; }
.m-r-30 {margin-right: 30px !important; }
.m-r-40 {margin-right: 40px !important; }
.m-r-50 {margin-right: 50px !important; }
.m-r-60 {margin-right: 60px !important; }
.m-r-70 {margin-right: 70px !important; }
.m-r-80 {margin-right: 80px !important; }
.m-r-90 {margin-right: 90px !important; }
.m-r-100 { margin-right: 100px !important; }

.m-l-0 { margin-left: 0 !important; }
.m-l-10 { margin-left: 10px !important; }
.m-l-20 { margin-left: 20px !important; }
.m-l-30 { margin-left: 30px !important; }
.m-l-40 { margin-left: 40px !important; }
.m-l-50 { margin-left: 50px !important; }
.m-l-60 { margin-left: 60px !important; }
.m-l-70 { margin-left: 70px !important; }
.m-l-80 { margin-left: 80px !important; }
.m-l-90 { margin-left: 90px !important; }
.m-l-100 { margin-left: 100px !important; }

.p-b-0 {padding-bottom: 0 !important;}
.p-b-10 {padding-bottom: 10px !important;}
.p-b-20 {padding-bottom: 20px !important;}
.p-b-30 {padding-bottom: 30px !important;}
.p-b-40 {padding-bottom: 40px !important;}
.p-b-50 {padding-bottom: 50px !important;}
.p-b-60 {padding-bottom: 60px !important;}
.p-b-70 {padding-bottom: 70px !important;}
.p-b-80 {padding-bottom: 80px !important;}
.p-b-90 {padding-bottom: 90px !important;}
.p-b-100 {padding-bottom: 100px !important;}

.p-t-0 {padding-top: 0 !important;}
.p-t-10 {padding-top: 10px !important;}
.p-t-20 {padding-top: 20px !important;}
.p-t-30 {padding-top: 30px !important;}
.p-t-40 {padding-top: 40px !important;}
.p-t-50 {padding-top: 50px !important;}
.p-t-60 {padding-top: 60px !important;}
.p-t-70 {padding-top: 70px !important;}
.p-t-80 {padding-top: 80px !important;}
.p-t-90 {padding-top: 90px !important;}
.p-t-100 {padding-top: 100px !important;}

.p-r-0 {padding-right: 0 !important;}
.p-r-10 {padding-right: 10px !important;}
.p-r-20 {padding-right: 20px !important;}
.p-r-30 {padding-right: 30px !important;}
.p-r-40 {padding-right: 40px !important;}
.p-r-50 {padding-right: 50px !important;}
.p-r-60 {padding-right: 60px !important;}
.p-r-70 {padding-right: 70px !important;}
.p-r-80 {padding-right: 80px !important;}
.p-r-90 {padding-right: 90px !important;}
.p-r-100 {padding-right: 100px !important;}

.p-l-0 {padding-left: 0 !important;}
.p-l-10 {padding-left: 10px !important;}
.p-l-20 {padding-left: 20px !important;}
.p-l-30 {padding-left: 30px !important;}
.p-l-40 {padding-left: 40px !important;}
.p-l-50 {padding-left: 50px !important;}
.p-l-60 {padding-left: 60px !important;}
.p-l-70 {padding-left: 70px !important;}
.p-l-80 {padding-left: 80px !important;}
.p-l-90 {padding-left: 90px !important;}
.p-l-100 {padding-left: 100px !important;}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.margin-20 .col, .margin-20 .col-1, .margin-20 .col-10, .margin-20 .col-11, .margin-20 .col-12, .margin-20 .col-2, .margin-20 .col-3, .margin-20 .col-4, .margin-20 .col-5, .margin-20 .col-6, .margin-20 .col-7, .margin-20 .col-8, .margin-20 .col-9, .margin-20 .col-auto, .margin-20 .col-lg, .margin-20 .col-lg-1, .margin-20 .col-lg-10, .margin-20 .col-lg-11, .margin-20 .col-lg-12, .margin-20 .col-lg-2, .margin-20 .col-lg-3, .margin-20 .col-lg-4, .margin-20 .col-lg-5, .margin-20 .col-lg-6, .margin-20 .col-lg-7, .margin-20 .col-lg-8, .margin-20 .col-lg-9, .margin-20 .col-lg-auto, .margin-20 .col-md, .margin-20 .col-md-1, .margin-20 .col-md-10, .margin-20 .col-md-11, .margin-20 .col-md-12, .margin-20 .col-md-2, .margin-20 .col-md-3, .margin-20 .col-md-4, .margin-20 .col-md-5, .margin-20 .col-md-6, .margin-20 .col-md-7, .margin-20 .col-md-8, .margin-20 .col-md-9, .margin-20 .col-md-auto, .margin-20 .col-sm, .margin-20 .col-sm-1, .margin-20 .col-sm-10, .margin-20 .col-sm-11, .margin-20 .col-sm-12, .margin-20 .col-sm-2, .margin-20 .col-sm-3, .margin-20 .col-sm-4, .margin-20 .col-sm-5, .margin-20 .col-sm-6, .margin-20 .col-sm-7, .margin-20 .col-sm-8, .margin-20 .col-sm-9, .margin-20 .col-sm-auto, .margin-20 .col-xl, .margin-20 .col-xl-1, .margin-20 .col-xl-10, .margin-20 .col-xl-11, .margin-20 .col-xl-12, .margin-20 .col-xl-2, .margin-20 .col-xl-3, .margin-20 .col-xl-4, .margin-20 .col-xl-5, .margin-20 .col-xl-6, .margin-20 .col-xl-7, .margin-20 .col-xl-8, .margin-20 .col-xl-9, .margin-20 .col-xl-auto {
    padding-right: 10px;
    padding-left: 10px;
}

.margin-20 {
    margin-right: -10px;
    margin-left: -10px;
}

.show-mobile {
  display: none !important;
}

.panel {
    background: #fff;
    border: none !important;
    box-shadow: 0 5px 10px 0 rgba(29,49,68,0.08);
    border-radius: 8px;
}
/*----- END CUSTOM MODIFICATIONS -----*/


/*----- WC CUSTOM MODIFICATIONS -----*/
button {
    outline: none;
    border: none;
    font-weight: $bold;
    &--gradient {
    background: linear-gradient($main-gradient-1, $main-gradient-2);
    }
}

h5 {
    font-weight: $bold;
    color: $primary-color;
    font-size: 20px;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid $border;
    background: transparent;
    &::placeholder {
        color: $black;
    }
}

p {
    color: $text;
}
/*----- SCROLL BARS -----*/

.no-scroll-loaderpage{
    position: fixed !important;
    width: 100% !important;
}

/*----- Z-INDEX -----*/

.z-index-1100{
    z-index: 1100;
}
.z-index-2000{
    z-index: 1100;
}
.z-index-3000{
    z-index: 1100;
}
.z-index-4000{
    z-index: 1100;
}
.modal-open{
    height: 100% !important;
}



