/*-------------------------------
		0.1.-VARIABLES
--------------------------------*/


/*----------- Fonts -------------*/

$primary-font: 'acumin-pro', sans-serif;

$secondary-font: Arial;

$light:300;

$regular:400;

$semi-bold: 600;

$bold:700;

$bolder: 800;

$font-black: 800;


/*----------- Breakpoints -------------*/
$breakpoints: 
    (xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1440px,
    breakpoint1: 1200px,
    breakpoint2: 1051px,
    breakpoint3: 1600px,
    breakpoint4: 1080px,
    breakpoint5: 500px);




// MIN-WIDTH
@mixin respond-above($breakpoint) {

    @if map-has-key($breakpoints, $breakpoint) {

        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (min-width: $breakpoint-value) {
            @content;
        }

    }

}

// MAX-WIDTH
@mixin respond-below($breakpoint) {

    @if map-has-key($breakpoints, $breakpoint) {

        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (max-width: $breakpoint-value - 1) {
            @content;
        }

    }

}

// RESPOND BETWEEN
@mixin respond-between($lower, $upper) {

    // If both the lower and upper breakpoints exist in the map.
    @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {

        // Get the lower and upper breakpoints.
        $lower-breakpoint: map-get($breakpoints, $lower);
        $upper-breakpoint: map-get($breakpoints, $upper);

        // Write the media query.
        @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
            @content;
        }
    }
}

/*----------- Main Colors -------------*/

$white:#FFFFFF;

$black:#1d2129;

$grey: #f9f9f9;

$primary-color: #43d6c8;

$border: #f2f2f2;

$lightgrey: #f2f2f2;

$text: #b2b2b2;

$text-secondary: #808080;

$main-gradient-1: #78e6d6;

$main-gradient-2: #29cacc;

$btn-google: #4285F4;

$btn-facebook: linear-gradient(to left, #0171FE, #00AEFE );


$colors: (
    white: $white,
    black: $black,
    grey: $grey,
    primary-color: $primary-color,
    border: $border,
    lightgrey: $lightgrey,
    text: $text,
    text-secondary: $text-secondary,
    main-gradient-1: $main-gradient-1,
    main-gradient-2: $main-gradient-2,
);

@mixin gen-props($prefix, $property) {

    @each $color-name,
    $color in $colors {
        .#{$prefix}-#{$color-name} {
            #{$property}: $color
        }
    }
}

@include gen-props('text', 'color');
@include gen-props('bg', 'background');